plans/shepherd-telegram-bot.monolith.json
{
  "id": "shepherdtelegrambot01",
  "name": "Shepherd Telegram Bot",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        300
      ],
      "parameters": {
        "updates": [
          "*"
        ]
      },
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Shepherd Telegram Bot"
        }
      }
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Code: Normalize Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "jsCode": "const body = $input.first().json;\nconst msg = body.message || body.callback_query?.message;\nconst chatId = msg?.chat?.id || body.callback_query?.from?.id;\nconst isCallback = !!body.callback_query;\nconst callbackData = body.callback_query?.data || null;\nconst callbackQueryId = body.callback_query?.id || null;\nconst text = body.message?.text || null;\nconst video = body.message?.video || null;\nconst photo = body.message?.photo || null;\nconst messageId = msg?.message_id || null;\nconst startToken = text?.startsWith('/start ') ? text.slice(7).trim() : null;\nconst isStart = text === '/start' || !!startToken;\n\nreturn [{ json: { chatId, isCallback, callbackData, callbackQueryId, text, video, photo: photo ? photo[photo.length - 1] : null, messageId, startToken, isStart } }];"
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "HTTP: GET whoami",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FLEET_API_URL }}/whoami?chat_id={{ $json.chatId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Code: Merge whoami",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "parameters": {
        "jsCode": "const normalized = $('Code: Normalize Update').first().json;\nconst whoamiRaw = $input.first().json;\nconst whoamiStatus = $input.first().json.$response?.statusCode || 200;\nconst whoami = (whoamiStatus === 200 && whoamiRaw && !whoamiRaw.error) ? whoamiRaw : null;\nreturn [{ json: { ...normalized, whoami, whoamiStatus } }];"
      }
    },
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Postgres: Read Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT state FROM bot_sessions WHERE chat_id = $1",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: Normalize Update').first().json.chatId]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Code: Route Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ],
      "parameters": {
        "jsCode": "const ctx = $('Code: Merge whoami').first().json;\nconst sessionRows = $input.all();\nconst sessionState = (sessionRows && sessionRows.length > 0 && sessionRows[0].json && sessionRows[0].json.state) ? sessionRows[0].json.state : {};\nconst state = (typeof sessionState === 'string') ? JSON.parse(sessionState) : (sessionState || {});\n\nconst { chatId, isCallback, callbackData, text, video, photo, startToken, isStart, whoami } = ctx;\n\nlet route;\n\nif (!whoami || whoami.error || whoami.detail === 'Not found') {\n  route = startToken ? 'unknown_with_token' : 'unknown_no_token';\n} else if (state && state.flow) {\n  route = 'active_flow';\n} else if (isCallback) {\n  const map = {\n    clock_in: 'cmd_clock_in',\n    clock_out: 'cmd_clock_out',\n    accident_start: 'cmd_accident',\n    vehicle_issue: 'cmd_vehicle_issue',\n    update_details: 'cmd_update_details',\n    attendance_csv: 'cmd_attendance_csv',\n    my_vehicle: 'cmd_my_vehicle',\n    admin_attendance: 'cmd_admin_attendance',\n    admin_broadcast: 'cmd_admin_broadcast',\n    admin_summary: 'cmd_admin_summary',\n    admin_maintenance: 'cmd_admin_maintenance',\n    admin_update_driver: 'cmd_admin_update_driver',\n    maint_overdue: 'cmd_maint_overdue',\n    maint_log: 'cmd_maint_log',\n  };\n  route = map[callbackData] || (whoami.role === 'admin' ? 'admin_main' : 'driver_main');\n} else if (isStart) {\n  route = whoami.role === 'admin' ? 'admin_main' : 'driver_main';\n} else {\n  route = whoami.role === 'admin' ? 'admin_main' : 'driver_main';\n}\n\nreturn [{ json: { ...ctx, sessionState: state, route } }];"
      }
    },
    {
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Switch: Main Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "unknown_with_token",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "0",
              "renameOutput": true,
              "outputKeyName": "unknown_with_token"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "unknown_no_token",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "1",
              "renameOutput": true,
              "outputKeyName": "unknown_no_token"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "active_flow",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "2",
              "renameOutput": true,
              "outputKeyName": "active_flow"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "driver_main",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "3",
              "renameOutput": true,
              "outputKeyName": "driver_main"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "admin_main",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "4",
              "renameOutput": true,
              "outputKeyName": "admin_main"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cmd_clock_in",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "5",
              "renameOutput": true,
              "outputKeyName": "cmd_clock_in"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cmd_clock_out",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "6",
              "renameOutput": true,
              "outputKeyName": "cmd_clock_out"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cmd_accident",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "7",
              "renameOutput": true,
              "outputKeyName": "cmd_accident"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cmd_attendance_csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "8",
              "renameOutput": true,
              "outputKeyName": "cmd_attendance_csv"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cmd_my_vehicle",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "9",
              "renameOutput": true,
              "outputKeyName": "cmd_my_vehicle"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cmd_vehicle_issue",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "10",
              "renameOutput": true,
              "outputKeyName": "cmd_vehicle_issue"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cmd_update_details",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "11",
              "renameOutput": true,
              "outputKeyName": "cmd_update_details"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cmd_admin_attendance",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "12",
              "renameOutput": true,
              "outputKeyName": "cmd_admin_attendance"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cmd_admin_broadcast",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "13",
              "renameOutput": true,
              "outputKeyName": "cmd_admin_broadcast"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cmd_admin_summary",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "14",
              "renameOutput": true,
              "outputKeyName": "cmd_admin_summary"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cmd_admin_maintenance",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "15",
              "renameOutput": true,
              "outputKeyName": "cmd_admin_maintenance"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cmd_admin_update_driver",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "16",
              "renameOutput": true,
              "outputKeyName": "cmd_admin_update_driver"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cmd_maint_overdue",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "17",
              "renameOutput": true,
              "outputKeyName": "cmd_maint_overdue"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cmd_maint_log",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "18",
              "renameOutput": true,
              "outputKeyName": "cmd_maint_log"
            }
          ]
        },
        "fallbackOutput": "none"
      }
    },
    {
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "HTTP: Claim Invite Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FLEET_API_URL }}/bot-invite/claim",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ token: $json.startToken, telegram_chat_id: String($json.chatId) }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0011-0011-0011-000000000011",
      "name": "Code: Check Claim Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2050,
        0
      ],
      "parameters": {
        "jsCode": "const claimResult = $input.first().json;\nconst ctx = $('Switch: Main Router').first().json;\nconst status = claimResult.$response?.statusCode || 200;\nconst success = status >= 200 && status < 300;\nreturn [{ json: { ...ctx, claimSuccess: success } }];"
      }
    },
    {
      "id": "a1b2c3d4-0012-0012-0012-000000000012",
      "name": "Switch: Claim OK?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2300,
        0
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.claimSuccess }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "outputKey": "0",
              "renameOutput": true,
              "outputKeyName": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.claimSuccess }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "false"
                    }
                  }
                ]
              },
              "outputKey": "1",
              "renameOutput": true,
              "outputKeyName": "failure"
            }
          ]
        },
        "fallbackOutput": "none"
      }
    },
    {
      "id": "a1b2c3d4-0013-0013-0013-000000000013",
      "name": "HTTP: Send Driver Menu After Claim",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2550,
        -60
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, text: '🎉 ברוך הבא למערכת Shepard!\\n\\n🚗 ניהול נהג - Shepard\\n━━━━━━━━━━━━━━━━', parse_mode: 'HTML', reply_markup: { inline_keyboard: [ [{text:'⏱ כניסה לעבודה', callback_data:'clock_in'},{text:'🚪 יציאה מעבודה', callback_data:'clock_out'}], [{text:'🔧 דיווח תקלה', callback_data:'vehicle_issue'},{text:'🚨 דיווח תאונה', callback_data:'accident_start'}], [{text:'✏️ עדכון פרטים', callback_data:'update_details'},{text:'📊 דוח נוכחות', callback_data:'attendance_csv'}], [{text:'🚗 הרכב שלי', callback_data:'my_vehicle'}] ] } }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0014-0014-0014-000000000014",
      "name": "HTTP: Send Invalid Token Msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2550,
        60
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, text: '❌ הקישור אינו תקף או שפג תוקפו.\\nפנה/י למנהל לקבלת קישור חדש.', parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0020-0020-0020-000000000020",
      "name": "HTTP: Send Access Denied",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        120
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, text: 'הגישה למערכת מוגבלת. 🔒\\nלקבלת גישה פנה/י למנהל שלך.', parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0030-0030-0030-000000000030",
      "name": "HTTP: Send Driver Main Menu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, text: '🚗 ניהול נהג - Shepard\\n━━━━━━━━━━━━━━━━', parse_mode: 'HTML', reply_markup: { inline_keyboard: [ [{text:'⏱ כניסה לעבודה', callback_data:'clock_in'},{text:'🚪 יציאה מעבודה', callback_data:'clock_out'}], [{text:'🔧 דיווח תקלה', callback_data:'vehicle_issue'},{text:'🚨 דיווח תאונה', callback_data:'accident_start'}], [{text:'✏️ עדכון פרטים', callback_data:'update_details'},{text:'📊 דוח נוכחות', callback_data:'attendance_csv'}], [{text:'🚗 הרכב שלי', callback_data:'my_vehicle'}] ] } }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0040-0040-0040-000000000040",
      "name": "HTTP: Send Admin Main Menu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, text: '⚙️ פאנל ניהול - Shepard\\n━━━━━━━━━━━━━━━━', parse_mode: 'HTML', reply_markup: { inline_keyboard: [ [{text:'👥 נוכחות היום', callback_data:'admin_attendance'},{text:'📢 שידור הודעה', callback_data:'admin_broadcast'}], [{text:'🚗 סיכום צי', callback_data:'admin_summary'},{text:'✏️ עדכון נהג', callback_data:'admin_update_driver'}], [{text:'🔧 תחזוקה', callback_data:'admin_maintenance'}] ] } }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0070-0070-0070-000000000070",
      "name": "HTTP: GET Driver Vehicle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        780
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FLEET_API_URL }}/vehicles?driver_id={{ $json.whoami.driver_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0071-0071-0071-000000000071",
      "name": "Code: Start Accident Flow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2050,
        780
      ],
      "parameters": {
        "jsCode": "const ctx = $('Switch: Main Router').item.json;\nconst vehicleResult = $input.first().json;\nconst vehicles = Array.isArray(vehicleResult) ? vehicleResult : (vehicleResult.items || [vehicleResult]);\nconst vehicle = vehicles[0];\nif (!vehicle || !vehicle.vehicle_id) {\n  return [{ json: { ...ctx, errorMsg: 'לא נמצא רכב משויך לחשבונך.' } }];\n}\nconst now = new Date();\nconst israelOffset = 3 * 60;\nconst israelTime = new Date(now.getTime() + israelOffset * 60000);\nconst datetimeStr = israelTime.toISOString().replace('T', ' ').slice(0, 16);\nreturn [{ json: { ...ctx, vehicleId: vehicle.vehicle_id, accidentDatetime: datetimeStr, hasVehicle: true } }];"
      }
    },
    {
      "id": "a1b2c3d4-0072-0072-0072-000000000072",
      "name": "Postgres: Save Accident Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2300,
        780
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_sessions (chat_id, state, updated_at) VALUES ($1, $2::jsonb, NOW()) ON CONFLICT (chat_id) DO UPDATE SET state = $2::jsonb, updated_at = NOW()",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$json.chatId, JSON.stringify({flow:'accident', step:'awaiting_safe', vehicleId: $json.vehicleId, accidentDatetime: $json.accidentDatetime, attachments:[]})]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-0073-0073-0073-000000000073",
      "name": "HTTP: Send Accident Step 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2550,
        780
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: Start Accident Flow').first().json.chatId, text: '🚨 דיווח תאונה\\n\\nקודם כל - תירגע/י. 🫁\\nשתה/י מים, נשום/י עמוק.\\n\\n📍 עצור/י במקום בטוח בצד הדרך.\\n🚫 אל תזיז/י את הרכב עדיין!\\n\\nכשאת/ה במקום בטוח ועצרת, לחץ/י להמשך:', parse_mode: 'HTML', reply_markup: { inline_keyboard: [[{text:'✅ אני במקום בטוח ועצרתי', callback_data:'accident_safe'}]] } }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0080-0080-0080-000000000080",
      "name": "Code: Active Flow Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        900
      ],
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nconst state = ctx.sessionState || {};\nconst flow = state.flow || '';\nconst step = state.step || '';\nconst callbackData = ctx.callbackData || '';\nconst hasVideo = !!ctx.video;\nconst hasPhoto = !!ctx.photo;\nconst hasText = !!ctx.text;\n\nlet activeRoute = 'unknown_active';\n\nif (flow === 'accident') {\n  if (step === 'awaiting_safe' && callbackData === 'accident_safe') activeRoute = 'accident_safe';\n  else if (step === 'awaiting_video' && hasVideo) activeRoute = 'accident_video';\n  else if (step === 'awaiting_vehicle_clear' && callbackData === 'accident_road_clear') activeRoute = 'accident_road_clear';\n  else if (step === 'awaiting_insurance_photo' && hasPhoto) activeRoute = 'accident_insurance_photo';\n  else if (step === 'awaiting_driver_license_photo' && hasPhoto) activeRoute = 'accident_driver_license';\n  else if (step === 'awaiting_car_license_photo' && hasPhoto) activeRoute = 'accident_car_license';\n  else if (step === 'awaiting_manager_call' && callbackData === 'accident_manager_called') activeRoute = 'accident_complete';\n  else activeRoute = 'accident_wait';\n} else if (flow === 'broadcast') {\n  if (step === 'awaiting_message' && hasText) activeRoute = 'broadcast_message';\n  else if (step === 'awaiting_confirm' && callbackData === 'broadcast_confirm') activeRoute = 'broadcast_confirm';\n  else if (step === 'awaiting_confirm' && callbackData === 'broadcast_cancel') activeRoute = 'broadcast_cancel';\n  else activeRoute = 'broadcast_wait';\n} else if (flow === 'vehicle_issue') {\n  if (step === 'awaiting_description' && hasText) activeRoute = 'vehicle_issue_text';\n  else activeRoute = 'vehicle_issue_wait';\n} else if (flow === 'update_details') {\n  if (step === 'awaiting_field' && (callbackData === 'ud_license_valid' || callbackData === 'ud_license_number' || callbackData === 'ud_phone')) activeRoute = 'update_details_field';\n  else if (step === 'awaiting_value' && hasText) activeRoute = 'update_details_value';\n  else activeRoute = 'update_details_wait';\n} else if (flow === 'update_driver') {\n  if (step === 'awaiting_driver' && callbackData.startsWith('ud2_driver_')) activeRoute = 'update_driver_pick';\n  else if (step === 'awaiting_field' && callbackData.startsWith('ud2_field_')) activeRoute = 'update_driver_field';\n  else if (step === 'awaiting_value' && hasText) activeRoute = 'update_driver_value';\n  else activeRoute = 'update_driver_wait';\n} else if (flow === 'maint_log') {\n  if (step === 'awaiting_vehicle' && callbackData.startsWith('ml_veh_')) activeRoute = 'maint_log_vehicle';\n  else if (step === 'awaiting_type' && callbackData.startsWith('ml_type_')) activeRoute = 'maint_log_type';\n  else if (step === 'awaiting_km' && hasText) activeRoute = 'maint_log_km';\n  else activeRoute = 'maint_log_wait';\n}\n\nreturn [{ json: { ...ctx, activeRoute } }];"
      }
    },
    {
      "id": "a1b2c3d4-0081-0081-0081-000000000081",
      "name": "Switch: Active Flow Routes",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2050,
        900
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.activeRoute }}",
                    "rightValue": "accident_safe",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "0",
              "renameOutput": true,
              "outputKeyName": "accident_safe"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.activeRoute }}",
                    "rightValue": "accident_video",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "1",
              "renameOutput": true,
              "outputKeyName": "accident_video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.activeRoute }}",
                    "rightValue": "accident_road_clear",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "2",
              "renameOutput": true,
              "outputKeyName": "accident_road_clear"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.activeRoute }}",
                    "rightValue": "accident_insurance_photo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "3",
              "renameOutput": true,
              "outputKeyName": "accident_insurance_photo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.activeRoute }}",
                    "rightValue": "accident_driver_license",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "4",
              "renameOutput": true,
              "outputKeyName": "accident_driver_license"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.activeRoute }}",
                    "rightValue": "accident_car_license",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "5",
              "renameOutput": true,
              "outputKeyName": "accident_car_license"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.activeRoute }}",
                    "rightValue": "accident_complete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "6",
              "renameOutput": true,
              "outputKeyName": "accident_complete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.activeRoute }}",
                    "rightValue": "broadcast_message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "7",
              "renameOutput": true,
              "outputKeyName": "broadcast_message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.activeRoute }}",
                    "rightValue": "broadcast_confirm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "8",
              "renameOutput": true,
              "outputKeyName": "broadcast_confirm"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.activeRoute }}",
                    "rightValue": "broadcast_cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "9",
              "renameOutput": true,
              "outputKeyName": "broadcast_cancel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.activeRoute }}",
                    "rightValue": "vehicle_issue_text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "10",
              "renameOutput": true,
              "outputKeyName": "vehicle_issue_text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.activeRoute }}",
                    "rightValue": "update_details_field",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "11",
              "renameOutput": true,
              "outputKeyName": "update_details_field"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.activeRoute }}",
                    "rightValue": "update_details_value",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "12",
              "renameOutput": true,
              "outputKeyName": "update_details_value"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.activeRoute }}",
                    "rightValue": "update_driver_pick",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "13",
              "renameOutput": true,
              "outputKeyName": "update_driver_pick"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.activeRoute }}",
                    "rightValue": "update_driver_field",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "14",
              "renameOutput": true,
              "outputKeyName": "update_driver_field"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.activeRoute }}",
                    "rightValue": "update_driver_value",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "15",
              "renameOutput": true,
              "outputKeyName": "update_driver_value"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.activeRoute }}",
                    "rightValue": "maint_log_vehicle",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "16",
              "renameOutput": true,
              "outputKeyName": "maint_log_vehicle"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.activeRoute }}",
                    "rightValue": "maint_log_type",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "17",
              "renameOutput": true,
              "outputKeyName": "maint_log_type"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.activeRoute }}",
                    "rightValue": "maint_log_km",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "18",
              "renameOutput": true,
              "outputKeyName": "maint_log_km"
            }
          ]
        },
        "fallbackOutput": "none"
      }
    },
    {
      "id": "a1b2c3d4-0090-0090-0090-000000000090",
      "name": "Postgres: Accident Safe - Update Step",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2300,
        840
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_sessions SET state = state || $2::jsonb, updated_at = NOW() WHERE chat_id = $1",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$json.chatId, JSON.stringify({step:'awaiting_video'})]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-0091-0091-0091-000000000091",
      "name": "HTTP: Send Awaiting Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2550,
        840
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Switch: Active Flow Routes').item.json.chatId, text: '📹 כעת צלם/י סרטון של האירוע.\\n\\nבסרטון:\\n- הסבר/י מה קרה בתאונה\\n- הראה/י את אזור התאונה\\n- הראה/י את כל הרכבים המעורבים\\n- הראה/י את הנזק לרכב שלך\\n\\nשלח/י את הסרטון כאן:', parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0100-0100-0100-000000000100",
      "name": "Code: Handle Accident Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        960
      ],
      "parameters": {
        "jsCode": "const ctx = $('Switch: Active Flow Routes').item.json;\nconst state = ctx.sessionState || {};\nconst fileId = ctx.video?.file_id;\nreturn [{ json: { ...ctx, fileId, category: 'accident_video', nextStep: 'awaiting_vehicle_clear', fileExt: 'mp4' } }];"
      }
    },
    {
      "id": "a1b2c3d4-0101-0101-0101-000000000101",
      "name": "HTTP: TG GetFile Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2550,
        960
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/getFile?file_id={{ $json.fileId }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0102-0102-0102-000000000102",
      "name": "Code: Build S3 Key Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        960
      ],
      "parameters": {
        "jsCode": "const ctx = $('Code: Handle Accident Video').first().json;\nconst fileResult = $input.first().json;\nconst filePath = fileResult.result?.file_path || fileResult.file_path;\nconst ext = ctx.fileExt || filePath.split('.').pop();\nconst state = ctx.sessionState || {};\nconst s3Key = `accidents/${ctx.chatId}/${ctx.category}.${ext}`;\nconst tgFileUrl = `https://api.telegram.org/file/bot${process.env.TELEGRAM_BOT_TOKEN}/${filePath}`;\nconst s3Bucket = process.env.S3_BUCKET || 'shepherd-accidents';\nconst s3Region = process.env.AWS_REGION || 'us-east-1';\nconst fileUrl = `https://${s3Bucket}.s3.${s3Region}.amazonaws.com/${s3Key}`;\nreturn [{ json: { ...ctx, filePath, s3Key, tgFileUrl, fileUrl, s3Bucket, s3Region } }];"
      }
    },
    {
      "id": "a1b2c3d4-0103-0103-0103-000000000103",
      "name": "HTTP: Download TG File Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3050,
        960
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.tgFileUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0104-0104-0104-000000000104",
      "name": "HTTP: S3 Upload Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        960
      ],
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('Code: Build S3 Key Video').first().json.s3Bucket }}.s3.{{ $('Code: Build S3 Key Video').first().json.s3Region }}.amazonaws.com/{{ $('Code: Build S3 Key Video').first().json.s3Key }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "authentication": "predefinedCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "nodeCredentialType": "aws"
      },
      "credentials": {
        "aws": {
          "id": "3",
          "name": "Shepherd AWS"
        }
      }
    },
    {
      "id": "a1b2c3d4-0105-0105-0105-000000000105",
      "name": "Postgres: Save Video Attachment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3550,
        960
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_sessions SET state = jsonb_set(state, '{step}', '\"awaiting_vehicle_clear\"') || jsonb_build_object('attachments', COALESCE(state->'attachments', '[]'::jsonb) || jsonb_build_array(jsonb_build_object('category', $2, 'file_url', $3))), updated_at = NOW() WHERE chat_id = $1",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: Handle Accident Video').first().json.chatId, $('Code: Handle Accident Video').first().json.category, $('Code: Build S3 Key Video').first().json.fileUrl]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-0106-0106-0106-000000000106",
      "name": "HTTP: Send Awaiting Road Clear",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3800,
        960
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: Handle Accident Video').first().json.chatId, text: '✅ הסרטון התקבל.\\n\\n🚗 כעת פנה/י את הכביש בצורה בטוחה\\n   והזז/י את הרכב לצד.\\n\\nכשהכביש פנוי:', parse_mode: 'HTML', reply_markup: { inline_keyboard: [[{text:'✅ הכביש פנוי', callback_data:'accident_road_clear'}]] } }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0110-0110-0110-000000000110",
      "name": "Postgres: Accident Road Clear Step",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2300,
        1080
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_sessions SET state = jsonb_set(state, '{step}', '\"awaiting_insurance_photo\"'), updated_at = NOW() WHERE chat_id = $1",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$json.chatId]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-0111-0111-0111-000000000111",
      "name": "HTTP: Send Awaiting Insurance Photo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2550,
        1080
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Switch: Active Flow Routes').item.json.chatId, text: '📸 צלם/י את מסמך הביטוח של הצד השני', parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0120-0120-0120-000000000120",
      "name": "Code: Handle Insurance Photo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        1200
      ],
      "parameters": {
        "jsCode": "const ctx = $('Switch: Active Flow Routes').item.json;\nconst fileId = ctx.photo?.file_id;\nreturn [{ json: { ...ctx, fileId, category: 'another_driver_insurance', nextStep: 'awaiting_driver_license_photo', fileExt: 'jpg' } }];"
      }
    },
    {
      "id": "a1b2c3d4-0121-0121-0121-000000000121",
      "name": "HTTP: TG GetFile Insurance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2550,
        1200
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/getFile?file_id={{ $json.fileId }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0122-0122-0122-000000000122",
      "name": "Code: Build S3 Key Insurance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        1200
      ],
      "parameters": {
        "jsCode": "const ctx = $('Code: Handle Insurance Photo').first().json;\nconst fileResult = $input.first().json;\nconst filePath = fileResult.result?.file_path || fileResult.file_path;\nconst ext = filePath.split('.').pop() || 'jpg';\nconst s3Key = `accidents/${ctx.chatId}/${ctx.category}.${ext}`;\nconst tgFileUrl = `https://api.telegram.org/file/bot${process.env.TELEGRAM_BOT_TOKEN}/${filePath}`;\nconst s3Bucket = process.env.S3_BUCKET || 'shepherd-accidents';\nconst s3Region = process.env.AWS_REGION || 'us-east-1';\nconst fileUrl = `https://${s3Bucket}.s3.${s3Region}.amazonaws.com/${s3Key}`;\nreturn [{ json: { ...ctx, filePath, s3Key, tgFileUrl, fileUrl, s3Bucket, s3Region } }];"
      }
    },
    {
      "id": "a1b2c3d4-0123-0123-0123-000000000123",
      "name": "HTTP: Download TG File Insurance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3050,
        1200
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.tgFileUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0124-0124-0124-000000000124",
      "name": "HTTP: S3 Upload Insurance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        1200
      ],
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('Code: Build S3 Key Insurance').first().json.s3Bucket }}.s3.{{ $('Code: Build S3 Key Insurance').first().json.s3Region }}.amazonaws.com/{{ $('Code: Build S3 Key Insurance').first().json.s3Key }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "aws"
      },
      "credentials": {
        "aws": {
          "id": "3",
          "name": "Shepherd AWS"
        }
      }
    },
    {
      "id": "a1b2c3d4-0125-0125-0125-000000000125",
      "name": "Postgres: Save Insurance Attachment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3550,
        1200
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_sessions SET state = jsonb_set(state, '{step}', '\"awaiting_driver_license_photo\"') || jsonb_build_object('attachments', COALESCE(state->'attachments', '[]'::jsonb) || jsonb_build_array(jsonb_build_object('category', $2, 'file_url', $3))), updated_at = NOW() WHERE chat_id = $1",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: Handle Insurance Photo').first().json.chatId, $('Code: Handle Insurance Photo').first().json.category, $('Code: Build S3 Key Insurance').first().json.fileUrl]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-0126-0126-0126-000000000126",
      "name": "HTTP: Send Awaiting Driver License",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3800,
        1200
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: Handle Insurance Photo').first().json.chatId, text: '📸 צלם/י את רישיון הנהיגה של הצד השני', parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0130-0130-0130-000000000130",
      "name": "Code: Handle Driver License Photo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        1320
      ],
      "parameters": {
        "jsCode": "const ctx = $('Switch: Active Flow Routes').item.json;\nconst fileId = ctx.photo?.file_id;\nreturn [{ json: { ...ctx, fileId, category: 'another_driver_license', nextStep: 'awaiting_car_license_photo', fileExt: 'jpg' } }];"
      }
    },
    {
      "id": "a1b2c3d4-0131-0131-0131-000000000131",
      "name": "HTTP: TG GetFile Driver License",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2550,
        1320
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/getFile?file_id={{ $json.fileId }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0132-0132-0132-000000000132",
      "name": "Code: Build S3 Key Driver License",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        1320
      ],
      "parameters": {
        "jsCode": "const ctx = $('Code: Handle Driver License Photo').first().json;\nconst fileResult = $input.first().json;\nconst filePath = fileResult.result?.file_path || fileResult.file_path;\nconst ext = filePath.split('.').pop() || 'jpg';\nconst s3Key = `accidents/${ctx.chatId}/${ctx.category}.${ext}`;\nconst tgFileUrl = `https://api.telegram.org/file/bot${process.env.TELEGRAM_BOT_TOKEN}/${filePath}`;\nconst s3Bucket = process.env.S3_BUCKET || 'shepherd-accidents';\nconst s3Region = process.env.AWS_REGION || 'us-east-1';\nconst fileUrl = `https://${s3Bucket}.s3.${s3Region}.amazonaws.com/${s3Key}`;\nreturn [{ json: { ...ctx, filePath, s3Key, tgFileUrl, fileUrl, s3Bucket, s3Region } }];"
      }
    },
    {
      "id": "a1b2c3d4-0133-0133-0133-000000000133",
      "name": "HTTP: Download TG File Driver License",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3050,
        1320
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.tgFileUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0134-0134-0134-000000000134",
      "name": "HTTP: S3 Upload Driver License",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        1320
      ],
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('Code: Build S3 Key Driver License').first().json.s3Bucket }}.s3.{{ $('Code: Build S3 Key Driver License').first().json.s3Region }}.amazonaws.com/{{ $('Code: Build S3 Key Driver License').first().json.s3Key }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "aws"
      },
      "credentials": {
        "aws": {
          "id": "3",
          "name": "Shepherd AWS"
        }
      }
    },
    {
      "id": "a1b2c3d4-0135-0135-0135-000000000135",
      "name": "Postgres: Save Driver License Attachment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3550,
        1320
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_sessions SET state = jsonb_set(state, '{step}', '\"awaiting_car_license_photo\"') || jsonb_build_object('attachments', COALESCE(state->'attachments', '[]'::jsonb) || jsonb_build_array(jsonb_build_object('category', $2, 'file_url', $3))), updated_at = NOW() WHERE chat_id = $1",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: Handle Driver License Photo').first().json.chatId, $('Code: Handle Driver License Photo').first().json.category, $('Code: Build S3 Key Driver License').first().json.fileUrl]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-0136-0136-0136-000000000136",
      "name": "HTTP: Send Awaiting Car License",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3800,
        1320
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: Handle Driver License Photo').first().json.chatId, text: '📸 צלם/י את רישיון הרכב של הצד השני', parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0140-0140-0140-000000000140",
      "name": "Code: Handle Car License Photo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        1440
      ],
      "parameters": {
        "jsCode": "const ctx = $('Switch: Active Flow Routes').item.json;\nconst fileId = ctx.photo?.file_id;\nreturn [{ json: { ...ctx, fileId, category: 'another_car_registration', nextStep: 'awaiting_manager_call', fileExt: 'jpg' } }];"
      }
    },
    {
      "id": "a1b2c3d4-0141-0141-0141-000000000141",
      "name": "HTTP: TG GetFile Car License",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2550,
        1440
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/getFile?file_id={{ $json.fileId }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0142-0142-0142-000000000142",
      "name": "Code: Build S3 Key Car License",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        1440
      ],
      "parameters": {
        "jsCode": "const ctx = $('Code: Handle Car License Photo').first().json;\nconst fileResult = $input.first().json;\nconst filePath = fileResult.result?.file_path || fileResult.file_path;\nconst ext = filePath.split('.').pop() || 'jpg';\nconst s3Key = `accidents/${ctx.chatId}/${ctx.category}.${ext}`;\nconst tgFileUrl = `https://api.telegram.org/file/bot${process.env.TELEGRAM_BOT_TOKEN}/${filePath}`;\nconst s3Bucket = process.env.S3_BUCKET || 'shepherd-accidents';\nconst s3Region = process.env.AWS_REGION || 'us-east-1';\nconst fileUrl = `https://${s3Bucket}.s3.${s3Region}.amazonaws.com/${s3Key}`;\nreturn [{ json: { ...ctx, filePath, s3Key, tgFileUrl, fileUrl, s3Bucket, s3Region } }];"
      }
    },
    {
      "id": "a1b2c3d4-0143-0143-0143-000000000143",
      "name": "HTTP: Download TG File Car License",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3050,
        1440
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.tgFileUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0144-0144-0144-000000000144",
      "name": "HTTP: S3 Upload Car License",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        1440
      ],
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('Code: Build S3 Key Car License').first().json.s3Bucket }}.s3.{{ $('Code: Build S3 Key Car License').first().json.s3Region }}.amazonaws.com/{{ $('Code: Build S3 Key Car License').first().json.s3Key }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "aws"
      },
      "credentials": {
        "aws": {
          "id": "3",
          "name": "Shepherd AWS"
        }
      }
    },
    {
      "id": "a1b2c3d4-0145-0145-0145-000000000145",
      "name": "Postgres: Save Car License and Submit Accident",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3550,
        1440
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_sessions SET state = jsonb_set( jsonb_set(state, '{step}', '\"awaiting_manager_call\"'), '{attachments}', COALESCE(state->'attachments', '[]'::jsonb) || jsonb_build_array(jsonb_build_object('category', $2, 'file_url', $3)) ), updated_at = NOW() WHERE chat_id = $1 RETURNING state",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: Handle Car License Photo').first().json.chatId, $('Code: Handle Car License Photo').first().json.category, $('Code: Build S3 Key Car License').first().json.fileUrl]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-0146-0146-0146-000000000146",
      "name": "Code: Prepare Accident POST",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3800,
        1440
      ],
      "parameters": {
        "jsCode": "const ctx = $('Code: Handle Car License Photo').first().json;\nconst stateRow = $input.first().json;\nconst state = (typeof stateRow.state === 'string') ? JSON.parse(stateRow.state) : stateRow.state;\nconst now = new Date();\nconst israelOffset = 3 * 60;\nconst israelTime = new Date(now.getTime() + israelOffset * 60000);\nconst datetimeStr = israelTime.toISOString();\nreturn [{ json: { ...ctx, accidentPayload: { vehicle_id: state.vehicleId || ctx.sessionState?.vehicleId, datetime: state.accidentDatetime || datetimeStr, location: null, description: null, attachments: state.attachments || [] } } }];"
      }
    },
    {
      "id": "a1b2c3d4-0147-0147-0147-000000000147",
      "name": "HTTP: POST Create Accident",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4050,
        1440
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FLEET_API_URL }}/accidents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "={{ JSON.stringify({role: 'driver', driver_id: $('Switch: Active Flow Routes').item.json.whoami?.driver_id}) }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($('Code: Prepare Accident POST').first().json.accidentPayload) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0148-0148-0148-000000000148",
      "name": "HTTP: Send Awaiting Manager Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4300,
        1440
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: Handle Car License Photo').first().json.chatId, text: '📞 צור/י קשר עם המנהל שלך עכשיו\\n   ופעל/י לפי הנחיותיו.\\n\\nכשסיימת לדבר:', parse_mode: 'HTML', reply_markup: { inline_keyboard: [[{text:'✅ דיברתי עם המנהל', callback_data:'accident_manager_called'}]] } }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0150-0150-0150-000000000150",
      "name": "Postgres: Clear Accident Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2300,
        1560
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM bot_sessions WHERE chat_id = $1",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$json.chatId]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-0151-0151-0151-000000000151",
      "name": "HTTP: Send Accident Complete to Driver",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2550,
        1560
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Switch: Active Flow Routes').item.json.chatId, text: '✅ דיווח התאונה הושלם.\\nהמנהלים קיבלו עדכון.', parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0152-0152-0152-000000000152",
      "name": "HTTP: GET Admins for Accident Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        1560
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FLEET_API_URL }}/users?role=admin",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0153-0153-0153-000000000153",
      "name": "Code: Notify Admins Accident",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3050,
        1560
      ],
      "parameters": {
        "jsCode": "const ctx = $('Switch: Active Flow Routes').item.json;\nconst adminsResult = $input.first().json;\nconst admins = Array.isArray(adminsResult) ? adminsResult : (adminsResult.items || []);\nconst now = new Date();\nconst israelOffset = 3 * 60;\nconst israelTime = new Date(now.getTime() + israelOffset * 60000);\nconst datetimeStr = israelTime.toISOString().replace('T', ' ').slice(0, 16);\nconst driverName = ctx.whoami?.driver_name || ctx.whoami?.full_name || 'לא ידוע';\nconst notifications = admins.filter(a => a.telegram_chat_id).map(a => ({\n  chat_id: a.telegram_chat_id,\n  text: `🚨 דיווח תאונה חדש\\n\\nנהג: ${driverName}\\nזמן: ${datetimeStr}`,\n  parse_mode: 'HTML'\n}));\nreturn notifications.map(n => ({ json: { notification: n, token: process.env.TELEGRAM_BOT_TOKEN } }));"
      }
    },
    {
      "id": "a1b2c3d4-0154-0154-0154-000000000154",
      "name": "HTTP: Send Accident Notify to Each Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        1560
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json.notification) }}"
      }
    },
    {
      "id": "a1b2c3d4-0161-0161-0161-000000000161",
      "name": "Code: Format Attendance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2050,
        1680
      ],
      "parameters": {
        "jsCode": "const ctx = $('Switch: Main Router').first().json;\nconst rows = $input.all().map(i=>i.json).filter(r=>r.driver_id);\nlet lines = ['👥 נוכחות היום\\n━━━━━━━━━━━━━━━━'];\nif (rows.length===0) lines.push('אין נתוני נוכחות להיום.');\nelse rows.forEach(r=>{\n  const ci=r.clock_in||'--:--';\n  const co=r.clock_out;\n  lines.push(`${co?'✅':'⏳'} ${r.driver_name||'—'}: ${ci}${co?` - ${co}`:''}`);\n});\nreturn [{ json: { ...ctx, attendanceText: lines.join('\\n') } }];"
      }
    },
    {
      "id": "a1b2c3d4-0162-0162-0162-000000000162",
      "name": "HTTP: Send Attendance Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        1680
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.attendanceText, parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0170-0170-0170-000000000170",
      "name": "HTTP: GET Fleet KPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        1800
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FLEET_API_URL }}/kpi/latest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0171-0171-0171-000000000171",
      "name": "Code: Format Fleet Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2050,
        1800
      ],
      "parameters": {
        "jsCode": "const ctx = $('Switch: Main Router').item.json;\nconst kpi = $input.first().json;\nconst activeDrivers = kpi.active_drivers ?? kpi.drivers_clocked_in ?? 'N/A';\nconst activeVehicles = kpi.active_vehicles ?? kpi.vehicles_in_use ?? 'N/A';\nconst text = `🚗 סיכום צי\\n━━━━━━━━━━━━━━━━\\n\\nנהגים מחוברים: ${activeDrivers}\\nרכבים פעילים: ${activeVehicles}`;\nreturn [{ json: { ...ctx, summaryText: text } }];"
      }
    },
    {
      "id": "a1b2c3d4-0172-0172-0172-000000000172",
      "name": "HTTP: Send Fleet Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        1800
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.summaryText, parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0180-0180-0180-000000000180",
      "name": "Postgres: Set Broadcast Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1800,
        1920
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_sessions (chat_id, state, updated_at) VALUES ($1, $2::jsonb, NOW()) ON CONFLICT (chat_id) DO UPDATE SET state = $2::jsonb, updated_at = NOW()",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$json.chatId, JSON.stringify({flow:'broadcast', step:'awaiting_message'})]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-0181-0181-0181-000000000181",
      "name": "HTTP: Send Broadcast Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2050,
        1920
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Switch: Main Router').item.json.chatId, text: 'הקלד/י את ההודעה לשליחה לכל הנהגים:', parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0190-0190-0190-000000000190",
      "name": "HTTP: GET Drivers for Broadcast",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        2040
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FLEET_API_URL }}/users?role=driver",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0191-0191-0191-000000000191",
      "name": "Code: Prepare Broadcast Confirm",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2550,
        2040
      ],
      "parameters": {
        "jsCode": "const ctx = $('Switch: Active Flow Routes').item.json;\nconst driversResult = $input.first().json;\nconst drivers = Array.isArray(driversResult) ? driversResult : (driversResult.items || []);\nconst withChat = drivers.filter(d => d.telegram_chat_id);\nconst count = withChat.length;\nconst broadcastMsg = ctx.text;\nreturn [{ json: { ...ctx, broadcastMsg, driverCount: count, drivers: withChat } }];"
      }
    },
    {
      "id": "a1b2c3d4-0192-0192-0192-000000000192",
      "name": "Postgres: Save Broadcast State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2800,
        2040
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_sessions SET state = $2::jsonb, updated_at = NOW() WHERE chat_id = $1",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$json.chatId, JSON.stringify({flow:'broadcast', step:'awaiting_confirm', message: $json.broadcastMsg, count: $json.driverCount, drivers: $json.drivers})]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-0193-0193-0193-000000000193",
      "name": "HTTP: Send Broadcast Confirm Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3050,
        2040
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: Prepare Broadcast Confirm').first().json.chatId, text: `שולח ל-${$('Code: Prepare Broadcast Confirm').first().json.driverCount} נהגים - אישור?`, parse_mode: 'HTML', reply_markup: { inline_keyboard: [[{text:'✅ שלח', callback_data:'broadcast_confirm'},{text:'❌ ביטול', callback_data:'broadcast_cancel'}]] } }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0200-0200-0200-000000000200",
      "name": "Code: Prepare Broadcast Send",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        2160
      ],
      "parameters": {
        "jsCode": "const ctx = $('Switch: Active Flow Routes').item.json;\nconst state = ctx.sessionState || {};\nconst broadcastMsg = state.message || '';\nconst drivers = state.drivers || [];\nreturn drivers.filter(d => d.telegram_chat_id).map(d => ({ json: { chatId: ctx.chatId, recipientChatId: d.telegram_chat_id, broadcastMsg } }));"
      }
    },
    {
      "id": "a1b2c3d4-0201-0201-0201-000000000201",
      "name": "HTTP: Send Broadcast Message to Each Driver",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2550,
        2160
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $json.recipientChatId, text: $json.broadcastMsg, parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0202-0202-0202-000000000202",
      "name": "Postgres: Clear Broadcast Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2800,
        2160
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM bot_sessions WHERE chat_id = $1",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Switch: Active Flow Routes').item.json.chatId]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-0203-0203-0203-000000000203",
      "name": "HTTP: Send Broadcast Sent Confirm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3050,
        2160
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Switch: Active Flow Routes').item.json.chatId, text: '✅ ההודעה נשלחה.', parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0210-0210-0210-000000000210",
      "name": "Postgres: Clear Broadcast Cancel Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2300,
        2280
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM bot_sessions WHERE chat_id = $1",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$json.chatId]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-0211-0211-0211-000000000211",
      "name": "HTTP: Send Broadcast Cancelled",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2550,
        2280
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Switch: Active Flow Routes').item.json.chatId, text: '❌ השידור בוטל.', parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "a1b2c3d4-1001-1001-1001-000000001001",
      "name": "HTTP: GET My Vehicle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        2400
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FLEET_API_URL }}/vehicles?driver_id={{ $json.whoami.driver_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1002-1002-1002-000000001002",
      "name": "Code: Format My Vehicle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2050,
        2400
      ],
      "parameters": {
        "jsCode": "const ctx = $('Switch: Main Router').first().json;\nconst res = $input.first().json;\nconst arr = Array.isArray(res) ? res : (res.items || [res]);\nconst v = arr[0];\nlet text;\nif (!v || !v.vehicle_id) text = '🚗 לא נמצא רכב משויך לחשבונך.';\nelse text = `🚗 הרכב שלך\\n━━━━━━━━━━━━━━━━\\n\\nיצרן: ${v.vendor||'-'}\\nדגם: ${v.model||'-'}\\nלוחית: ${v.licensing_plate||'-'}\\nסוג: ${v.vehicle_type||'-'}\\nק\"מ נוכחי: ${v.current_km??'-'}`;\nreturn [{ json: { chatId: ctx.chatId, text } }];"
      }
    },
    {
      "id": "a1b2c3d4-1003-1003-1003-000000001003",
      "name": "HTTP: Send My Vehicle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        2400
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.text, parse_mode:'HTML' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1005-1005-1005-000000001005",
      "name": "Code: Build Attendance CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2050,
        2520
      ],
      "parameters": {
        "jsCode": "const ctx = $('Switch: Main Router').first().json;\nconst rows = $input.all().map(i=>i.json).filter(r=>r.work_date);\nlet csv = 'תאריך,כניסה,יציאה,שעות\\n';\nfor (const r of rows) {\n  let hrs='';\n  if (r.clock_in && r.clock_out) {\n    const [ih,im]=r.clock_in.split(':').map(Number);\n    const [oh,om]=r.clock_out.split(':').map(Number);\n    hrs=(((oh*60+om)-(ih*60+im))/60).toFixed(2);\n  }\n  const d=String(r.work_date).slice(0,10).split('-').reverse().join('/');\n  csv+=`${d},${r.clock_in||''},${r.clock_out||''},${hrs}\\n`;\n}\nconst fileName=`attendance_${new Date().toISOString().slice(0,7)}.csv`;\nconst buf=Buffer.from('\\uFEFF'+csv,'utf8');\nreturn [{ json: { chatId: ctx.chatId, empty: rows.length===0 }, binary: { data: { data: buf.toString('base64'), fileName, mimeType:'text/csv' } } }];"
      }
    },
    {
      "id": "a1b2c3d4-1006-1006-1006-000000001006",
      "name": "HTTP: Send Attendance CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        2520
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendDocument",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chatId }}"
            },
            {
              "name": "caption",
              "value": "📊 דוח נוכחות חודשי"
            },
            {
              "parameterType": "formBinaryData",
              "name": "document",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1007-1007-1007-000000001007",
      "name": "Postgres: Set VehicleIssue Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1800,
        2640
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_sessions (chat_id, state, updated_at) VALUES ($1, $2::jsonb, NOW()) ON CONFLICT (chat_id) DO UPDATE SET state=$2::jsonb, updated_at=NOW()",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$json.chatId, JSON.stringify({flow:'vehicle_issue', step:'awaiting_description'})]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-1008-1008-1008-000000001008",
      "name": "HTTP: Send VehicleIssue Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2050,
        2640
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Switch: Main Router').first().json.chatId, text: '🔧 דיווח תקלה\\n\\nתאר/י את התקלה ברכב (טקסט חופשי):', parse_mode:'HTML' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1009-1009-1009-000000001009",
      "name": "HTTP: GET Issue Vehicle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        2760
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FLEET_API_URL }}/vehicles?driver_id={{ $json.whoami.driver_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1010-1010-1010-000000001010",
      "name": "Code: Prepare Issue Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2050,
        2760
      ],
      "parameters": {
        "jsCode": "const ctx = $('Code: Active Flow Router').first().json;\nconst res = $input.first().json;\nconst arr = Array.isArray(res)?res:(res.items||[res]);\nconst v = arr[0];\nreturn [{ json: { chatId: ctx.chatId, vehicleId: (v&&v.vehicle_id)||null, message: ctx.text||'' } }];"
      }
    },
    {
      "id": "a1b2c3d4-1011-1011-1011-000000001011",
      "name": "HTTP: POST Issue Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        2760
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FLEET_API_URL }}/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ vehicle_id: $json.vehicleId, event_type:'warning', severity:'warning', message: 'תקלה מהנהג: ' + $json.message, source_type:'telegram' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1012-1012-1012-000000001012",
      "name": "Postgres: Clear VehicleIssue Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2550,
        2760
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM bot_sessions WHERE chat_id = $1",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: Prepare Issue Event').first().json.chatId]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-1013-1013-1013-000000001013",
      "name": "HTTP: Send Issue Confirm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        2760
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: Prepare Issue Event').first().json.chatId, text: '✅ התקלה נרשמה. תודה!', parse_mode:'HTML' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1014-1014-1014-000000001014",
      "name": "Postgres: Set UpdateDetails Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1800,
        2880
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_sessions (chat_id, state, updated_at) VALUES ($1, $2::jsonb, NOW()) ON CONFLICT (chat_id) DO UPDATE SET state=$2::jsonb, updated_at=NOW()",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$json.chatId, JSON.stringify({flow:'update_details', step:'awaiting_field'})]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-1015-1015-1015-000000001015",
      "name": "HTTP: Send UpdateDetails Menu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2050,
        2880
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Switch: Main Router').first().json.chatId, text: '✏️ עדכון פרטים\\n\\nבחר/י שדה לעדכון:', parse_mode:'HTML', reply_markup: { inline_keyboard: [[{text:'📅 תוקף רישיון', callback_data:'ud_license_valid'}],[{text:'🪪 מספר רישיון', callback_data:'ud_license_number'}],[{text:'📱 טלפון', callback_data:'ud_phone'}]] } }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1016-1016-1016-000000001016",
      "name": "Code: UpdateDetails SetField",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        3000
      ],
      "parameters": {
        "jsCode": "const ctx = $('Code: Active Flow Router').first().json;\nconst field = ctx.callbackData;\nconst labels = {ud_license_valid:'תוקף רישיון (DD/MM/YYYY)', ud_license_number:'מספר רישיון', ud_phone:'מספר טלפון'};\nconst newState = { flow:'update_details', step:'awaiting_value', field };\nreturn [{ json: { chatId: ctx.chatId, prompt: 'הזן/י ' + (labels[field]||'ערך') + ':', newState } }];"
      }
    },
    {
      "id": "a1b2c3d4-1017-1017-1017-000000001017",
      "name": "Postgres: Save UpdateDetails Field",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2050,
        3000
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_sessions (chat_id, state, updated_at) VALUES ($1, $2::jsonb, NOW()) ON CONFLICT (chat_id) DO UPDATE SET state=$2::jsonb, updated_at=NOW()",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: UpdateDetails SetField').first().json.chatId, JSON.stringify($('Code: UpdateDetails SetField').first().json.newState)]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-1018-1018-1018-000000001018",
      "name": "HTTP: Send UpdateDetails ValuePrompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        3000
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: UpdateDetails SetField').first().json.chatId, text: $('Code: UpdateDetails SetField').first().json.prompt, parse_mode:'HTML' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1019-1019-1019-000000001019",
      "name": "Code: UpdateDetails Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        3120
      ],
      "parameters": {
        "jsCode": "const ctx = $('Code: Active Flow Router').first().json;\nconst state = ctx.sessionState || {};\nconst field = state.field || '';\nconst raw = (ctx.text || '').trim();\nlet valid = true, errorMsg = '', column = '', value = raw;\nif (field === 'ud_license_valid') {\n  column = 'license_valid_to';\n  const m = raw.match(/^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/);\n  if (!m) { valid=false; errorMsg='⚠️ פורמט תאריך שגוי. הזן/י DD/MM/YYYY.'; }\n  else value = `${m[3]}-${m[2]}-${m[1]}`;\n} else if (field === 'ud_license_number') {\n  column = 'license_number';\n  if (!raw) { valid=false; errorMsg='⚠️ מספר רישיון לא תקין.'; }\n} else if (field === 'ud_phone') {\n  column = 'phone_number';\n  if (!/^0\\d{8,9}$/.test(raw)) { valid=false; errorMsg='⚠️ מספר טלפון לא תקין. דוגמה: 0501234567'; }\n} else { valid=false; errorMsg='⚠️ שדה לא ידוע.'; }\nreturn [{ json: { ...ctx, valid, errorMsg, column, value, driverId: ctx.whoami.driver_id } }];"
      }
    },
    {
      "id": "a1b2c3d4-1020-1020-1020-000000001020",
      "name": "IF: UpdateDetails Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2050,
        3120
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-1022-1022-1022-000000001022",
      "name": "Postgres: Clear UpdateDetails Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2550,
        3120
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM bot_sessions WHERE chat_id = $1",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: UpdateDetails Validate').first().json.chatId]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-1023-1023-1023-000000001023",
      "name": "HTTP: Send UpdateDetails Confirm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        3120
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: UpdateDetails Validate').first().json.chatId, text: '✅ הפרטים עודכנו בהצלחה.', parse_mode:'HTML' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1024-1024-1024-000000001024",
      "name": "HTTP: Send UpdateDetails Invalid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        3240
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: UpdateDetails Validate').first().json.chatId, text: $('Code: UpdateDetails Validate').first().json.errorMsg, parse_mode:'HTML' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1025-1025-1025-000000001025",
      "name": "HTTP: GET Drivers List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        3360
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FLEET_API_URL }}/drivers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1026-1026-1026-000000001026",
      "name": "Code: Build Drivers Keyboard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2050,
        3360
      ],
      "parameters": {
        "jsCode": "const ctx = $('Switch: Main Router').first().json;\nconst res = $input.first().json;\nconst drivers = Array.isArray(res)?res:(res.items||[]);\nconst rows = drivers.slice(0,50).map(d=>[{ text: d.full_name||d.driver_id, callback_data:'ud2_driver_'+d.driver_id }]);\nconst keyboard = { inline_keyboard: rows.length?rows:[[{text:'אין נהגים', callback_data:'noop'}]] };\nconst newState = { flow:'update_driver', step:'awaiting_driver' };\nreturn [{ json: { chatId: ctx.chatId, keyboard, newState } }];"
      }
    },
    {
      "id": "a1b2c3d4-1027-1027-1027-000000001027",
      "name": "Postgres: Set UpdateDriver Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2300,
        3360
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_sessions (chat_id, state, updated_at) VALUES ($1, $2::jsonb, NOW()) ON CONFLICT (chat_id) DO UPDATE SET state=$2::jsonb, updated_at=NOW()",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: Build Drivers Keyboard').first().json.chatId, JSON.stringify($('Code: Build Drivers Keyboard').first().json.newState)]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-1028-1028-1028-000000001028",
      "name": "HTTP: Send Drivers Keyboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2550,
        3360
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: Build Drivers Keyboard').first().json.chatId, text: 'בחר/י נהג לעדכון:', parse_mode:'HTML', reply_markup: $('Code: Build Drivers Keyboard').first().json.keyboard }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1029-1029-1029-000000001029",
      "name": "Code: UpdateDriver SetDriver",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        3480
      ],
      "parameters": {
        "jsCode": "const ctx = $('Code: Active Flow Router').first().json;\nconst targetDriverId = ctx.callbackData.replace('ud2_driver_','');\nconst newState = { flow:'update_driver', step:'awaiting_field', targetDriverId };\nreturn [{ json: { chatId: ctx.chatId, newState } }];"
      }
    },
    {
      "id": "a1b2c3d4-1030-1030-1030-000000001030",
      "name": "Postgres: Save UpdateDriver Driver",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2050,
        3480
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_sessions (chat_id, state, updated_at) VALUES ($1, $2::jsonb, NOW()) ON CONFLICT (chat_id) DO UPDATE SET state=$2::jsonb, updated_at=NOW()",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: UpdateDriver SetDriver').first().json.chatId, JSON.stringify($('Code: UpdateDriver SetDriver').first().json.newState)]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-1031-1031-1031-000000001031",
      "name": "HTTP: Send UpdateDriver FieldMenu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        3480
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: UpdateDriver SetDriver').first().json.chatId, text: 'בחר/י שדה לעדכון:', parse_mode:'HTML', reply_markup: { inline_keyboard: [[{text:'📅 תוקף רישיון', callback_data:'ud2_field_license_valid'}],[{text:'🪪 מספר רישיון', callback_data:'ud2_field_license_number'}],[{text:'📱 טלפון', callback_data:'ud2_field_phone'}]] } }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1032-1032-1032-000000001032",
      "name": "Code: UpdateDriver SetField",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        3600
      ],
      "parameters": {
        "jsCode": "const ctx = $('Code: Active Flow Router').first().json;\nconst map = {ud2_field_license_valid:'ud_license_valid', ud2_field_license_number:'ud_license_number', ud2_field_phone:'ud_phone'};\nconst field = map[ctx.callbackData]||'';\nconst state = ctx.sessionState||{};\nconst labels = {ud_license_valid:'תוקף רישיון (DD/MM/YYYY)', ud_license_number:'מספר רישיון', ud_phone:'מספר טלפון'};\nconst newState = { flow:'update_driver', step:'awaiting_value', field, targetDriverId: state.targetDriverId };\nreturn [{ json: { chatId: ctx.chatId, prompt: 'הזן/י ' + (labels[field]||'ערך') + ':', newState } }];"
      }
    },
    {
      "id": "a1b2c3d4-1033-1033-1033-000000001033",
      "name": "Postgres: Save UpdateDriver Field",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2050,
        3600
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_sessions (chat_id, state, updated_at) VALUES ($1, $2::jsonb, NOW()) ON CONFLICT (chat_id) DO UPDATE SET state=$2::jsonb, updated_at=NOW()",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: UpdateDriver SetField').first().json.chatId, JSON.stringify($('Code: UpdateDriver SetField').first().json.newState)]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-1034-1034-1034-000000001034",
      "name": "HTTP: Send UpdateDriver ValuePrompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        3600
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: UpdateDriver SetField').first().json.chatId, text: $('Code: UpdateDriver SetField').first().json.prompt, parse_mode:'HTML' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1035-1035-1035-000000001035",
      "name": "Code: UpdateDriver Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        3720
      ],
      "parameters": {
        "jsCode": "const ctx = $('Code: Active Flow Router').first().json;\nconst state = ctx.sessionState || {};\nconst field = state.field || '';\nconst raw = (ctx.text || '').trim();\nlet valid = true, errorMsg = '', column = '', value = raw;\nif (field === 'ud_license_valid') {\n  column = 'license_valid_to';\n  const m = raw.match(/^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/);\n  if (!m) { valid=false; errorMsg='⚠️ פורמט תאריך שגוי. הזן/י DD/MM/YYYY.'; }\n  else value = `${m[3]}-${m[2]}-${m[1]}`;\n} else if (field === 'ud_license_number') {\n  column = 'license_number';\n  if (!raw) { valid=false; errorMsg='⚠️ מספר רישיון לא תקין.'; }\n} else if (field === 'ud_phone') {\n  column = 'phone_number';\n  if (!/^0\\d{8,9}$/.test(raw)) { valid=false; errorMsg='⚠️ מספר טלפון לא תקין. דוגמה: 0501234567'; }\n} else { valid=false; errorMsg='⚠️ שדה לא ידוע.'; }\nreturn [{ json: { ...ctx, valid, errorMsg, column, value, driverId: (state.targetDriverId) } }];"
      }
    },
    {
      "id": "a1b2c3d4-1036-1036-1036-000000001036",
      "name": "IF: UpdateDriver Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2050,
        3720
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-1038-1038-1038-000000001038",
      "name": "Postgres: Clear UpdateDriver Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2550,
        3720
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM bot_sessions WHERE chat_id = $1",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: UpdateDriver Validate').first().json.chatId]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-1039-1039-1039-000000001039",
      "name": "HTTP: Send UpdateDriver Confirm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        3720
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: UpdateDriver Validate').first().json.chatId, text: '✅ פרטי הנהג עודכנו בהצלחה.', parse_mode:'HTML' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1040-1040-1040-000000001040",
      "name": "HTTP: Send UpdateDriver Invalid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        3840
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: UpdateDriver Validate').first().json.chatId, text: $('Code: UpdateDriver Validate').first().json.errorMsg, parse_mode:'HTML' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1041-1041-1041-000000001041",
      "name": "HTTP: Send Maintenance Menu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        3960
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Switch: Main Router').first().json.chatId, text: '🔧 תחזוקה', parse_mode:'HTML', reply_markup: { inline_keyboard: [[{text:'📋 תחזוקות באיחור', callback_data:'maint_overdue'}],[{text:'➕ רשום אירוע תחזוקה', callback_data:'maint_log'}]] } }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1043-1043-1043-000000001043",
      "name": "Code: Format Overdue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2050,
        4080
      ],
      "parameters": {
        "jsCode": "const ctx = $('Switch: Main Router').first().json;\nconst all = $input.all().map(i=>i.json);\nconst rows = all.filter(r=>r.licensing_plate && r.current_km!=null && r.next_maintenance_km!=null && r.current_km>=r.next_maintenance_km)\n  .sort((a,b)=>(b.current_km-b.next_maintenance_km)-(a.current_km-a.next_maintenance_km));\nlet text;\nif (!rows.length) text='✅ אין תחזוקות באיחור.';\nelse { text='📋 תחזוקות באיחור\\n━━━━━━━━━━━━━━━━\\n';\n  for (const r of rows) text+=`\\n🚗 ${r.licensing_plate} (${r.vendor||''} ${r.model||''})\\n   ק\"מ: ${r.current_km} / יעד: ${r.next_maintenance_km}\\n   סוג: ${r.next_maintenance_type||'-'}\\n`;\n}\nreturn [{ json: { chatId: ctx.chatId, text } }];"
      }
    },
    {
      "id": "a1b2c3d4-1044-1044-1044-000000001044",
      "name": "HTTP: Send Overdue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        4080
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.text, parse_mode:'HTML' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1045-1045-1045-000000001045",
      "name": "HTTP: GET Vehicles For Maint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        4200
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FLEET_API_URL }}/vehicles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1046-1046-1046-000000001046",
      "name": "Code: Build Maint Vehicle Keyboard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2050,
        4200
      ],
      "parameters": {
        "jsCode": "const ctx = $('Switch: Main Router').first().json;\nconst res = $input.first().json;\nconst vehicles = Array.isArray(res)?res:(res.items||[]);\nconst rows = vehicles.slice(0,50).map(v=>[{ text: (v.licensing_plate||'')+' '+(v.model||''), callback_data:'ml_veh_'+v.vehicle_id }]);\nconst keyboard = { inline_keyboard: rows.length?rows:[[{text:'אין רכבים', callback_data:'noop'}]] };\nconst newState = { flow:'maint_log', step:'awaiting_vehicle' };\nreturn [{ json: { chatId: ctx.chatId, keyboard, newState } }];"
      }
    },
    {
      "id": "a1b2c3d4-1047-1047-1047-000000001047",
      "name": "Postgres: Set MaintLog Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2300,
        4200
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_sessions (chat_id, state, updated_at) VALUES ($1, $2::jsonb, NOW()) ON CONFLICT (chat_id) DO UPDATE SET state=$2::jsonb, updated_at=NOW()",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: Build Maint Vehicle Keyboard').first().json.chatId, JSON.stringify($('Code: Build Maint Vehicle Keyboard').first().json.newState)]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-1048-1048-1048-000000001048",
      "name": "HTTP: Send Maint Vehicle Keyboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2550,
        4200
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: Build Maint Vehicle Keyboard').first().json.chatId, text: 'בחר/י רכב:', parse_mode:'HTML', reply_markup: $('Code: Build Maint Vehicle Keyboard').first().json.keyboard }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1049-1049-1049-000000001049",
      "name": "Code: MaintLog SetVehicle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        4320
      ],
      "parameters": {
        "jsCode": "const ctx = $('Code: Active Flow Router').first().json;\nconst vehicleId = ctx.callbackData.replace('ml_veh_','');\nreturn [{ json: { chatId: ctx.chatId, vehicleId } }];"
      }
    },
    {
      "id": "a1b2c3d4-1050-1050-1050-000000001050",
      "name": "HTTP: GET Maint Types",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2050,
        4320
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FLEET_API_URL }}/maintenance-types",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1051-1051-1051-000000001051",
      "name": "Code: Build Maint Type Keyboard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        4320
      ],
      "parameters": {
        "jsCode": "const setv = $('Code: MaintLog SetVehicle').first().json;\nconst res = $input.first().json;\nconst types = Array.isArray(res)?res:(res.items||[]);\nconst rows = types.slice(0,50).map(t=>[{ text: t.name, callback_data:('ml_type_'+t.name).slice(0,64) }]);\nconst keyboard = { inline_keyboard: rows.length?rows:[[{text:'כללי', callback_data:'ml_type_כללי'}]] };\nconst newState = { flow:'maint_log', step:'awaiting_type', vehicleId: setv.vehicleId };\nreturn [{ json: { chatId: setv.chatId, keyboard, newState } }];"
      }
    },
    {
      "id": "a1b2c3d4-1052-1052-1052-000000001052",
      "name": "Postgres: Save MaintLog Vehicle",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2550,
        4320
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_sessions (chat_id, state, updated_at) VALUES ($1, $2::jsonb, NOW()) ON CONFLICT (chat_id) DO UPDATE SET state=$2::jsonb, updated_at=NOW()",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: Build Maint Type Keyboard').first().json.chatId, JSON.stringify($('Code: Build Maint Type Keyboard').first().json.newState)]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-1053-1053-1053-000000001053",
      "name": "HTTP: Send Maint Type Keyboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        4320
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: Build Maint Type Keyboard').first().json.chatId, text: 'בחר/י סוג תחזוקה:', parse_mode:'HTML', reply_markup: $('Code: Build Maint Type Keyboard').first().json.keyboard }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1054-1054-1054-000000001054",
      "name": "Code: MaintLog SetType",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        4440
      ],
      "parameters": {
        "jsCode": "const ctx = $('Code: Active Flow Router').first().json;\nconst state = ctx.sessionState||{};\nconst maintType = ctx.callbackData.replace('ml_type_','');\nconst newState = { flow:'maint_log', step:'awaiting_km', vehicleId: state.vehicleId, maintType };\nreturn [{ json: { chatId: ctx.chatId, newState } }];"
      }
    },
    {
      "id": "a1b2c3d4-1055-1055-1055-000000001055",
      "name": "Postgres: Save MaintLog Type",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2050,
        4440
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_sessions (chat_id, state, updated_at) VALUES ($1, $2::jsonb, NOW()) ON CONFLICT (chat_id) DO UPDATE SET state=$2::jsonb, updated_at=NOW()",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: MaintLog SetType').first().json.chatId, JSON.stringify($('Code: MaintLog SetType').first().json.newState)]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-1056-1056-1056-000000001056",
      "name": "HTTP: Send Maint KM Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        4440
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: MaintLog SetType').first().json.chatId, text: 'הזן/י ק\"מ נוכחי במד:', parse_mode:'HTML' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1057-1057-1057-000000001057",
      "name": "Code: MaintLog Validate KM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        4560
      ],
      "parameters": {
        "jsCode": "const ctx = $('Code: Active Flow Router').first().json;\nconst state = ctx.sessionState||{};\nconst raw = (ctx.text||'').trim();\nconst km = parseInt(raw,10);\nconst valid = /^\\d+$/.test(raw) && km>=0;\nconst today = new Date().toISOString().slice(0,10);\nreturn [{ json: { chatId: ctx.chatId, valid, km, vehicleId: state.vehicleId, maintType: state.maintType, serviceDate: today, errorMsg:'⚠️ ק\"מ לא תקין. הזן/י מספר.' } }];"
      }
    },
    {
      "id": "a1b2c3d4-1058-1058-1058-000000001058",
      "name": "IF: MaintLog KM Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2050,
        4560
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-1059-1059-1059-000000001059",
      "name": "HTTP: POST Vehicle Care",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        4560
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FLEET_API_URL }}/vehicle_care",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ vehicle_id: $json.vehicleId, service_date: $json.serviceDate, maintenance_type: $json.maintType, km_at_service: $json.km }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1060-1060-1060-000000001060",
      "name": "Postgres: Clear MaintLog Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2550,
        4560
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM bot_sessions WHERE chat_id = $1",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: MaintLog Validate KM').first().json.chatId]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-1061-1061-1061-000000001061",
      "name": "HTTP: Send Maint Logged Confirm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        4560
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: MaintLog Validate KM').first().json.chatId, text: '✅ אירוע התחזוקה נרשם.', parse_mode:'HTML' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1062-1062-1062-000000001062",
      "name": "HTTP: Send Maint KM Invalid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        4680
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: MaintLog Validate KM').first().json.chatId, text: $('Code: MaintLog Validate KM').first().json.errorMsg, parse_mode:'HTML' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-6001-6001-6001-000000006001",
      "name": "HTTP: POST Clock In",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1550,
        440
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FLEET_API_URL }}/attendance/clock-in",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ driver_id: $json.whoami.driver_id }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-6002-6002-6002-000000006002",
      "name": "Code: Format Clock In",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        440
      ],
      "parameters": {
        "jsCode": "const ctx = $('Switch: Main Router').first().json;\nconst r = $input.first().json || {};\nlet text;\nif (r.result==='blocked') text=`⛔ דיווח נוכחות אפשרי רק בין ${r.window_start} ל-${r.window_end}.`;\nelse if (r.result==='already_in') text=`כבר נרשמת כניסה היום בשעה ${r.time}.`;\nelse if (r.result==='ok') text=`✅ כניסה נרשמה בהצלחה בשעה ${r.time}.`;\nelse text='⚠️ אירעה שגיאה ברישום הכניסה.';\nreturn [{ json: { chatId: ctx.chatId, text } }];"
      }
    },
    {
      "id": "a1b2c3d4-6003-6003-6003-000000006003",
      "name": "HTTP: Send Clock In Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2050,
        440
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.text, parse_mode:'HTML' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-6004-6004-6004-000000006004",
      "name": "HTTP: POST Clock Out",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1550,
        660
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FLEET_API_URL }}/attendance/clock-out",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ driver_id: $json.whoami.driver_id }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-6005-6005-6005-000000006005",
      "name": "Code: Format Clock Out",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        660
      ],
      "parameters": {
        "jsCode": "const ctx = $('Switch: Main Router').first().json;\nconst r = $input.first().json || {};\nlet text;\nif (r.result==='blocked') text=`⛔ דיווח נוכחות אפשרי רק בין ${r.window_start} ל-${r.window_end}.`;\nelse if (r.result==='no_open') text='לא נמצאה כניסה פתוחה להיום.';\nelse if (r.result==='ok') text=`✅ יציאה נרשמה. סה\"כ: ${r.hours} שעות.`;\nelse text='⚠️ אירעה שגיאה ברישום היציאה.';\nreturn [{ json: { chatId: ctx.chatId, text } }];"
      }
    },
    {
      "id": "a1b2c3d4-6006-6006-6006-000000006006",
      "name": "HTTP: Send Clock Out Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2050,
        660
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.text, parse_mode:'HTML' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-6007-6007-6007-000000006007",
      "name": "HTTP: PATCH Driver Field",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2550,
        3120
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.FLEET_API_URL }}/drivers/{{ $('Code: UpdateDetails Validate').first().json.driverId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ [$('Code: UpdateDetails Validate').first().json.column]: $('Code: UpdateDetails Validate').first().json.value }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-6008-6008-6008-000000006008",
      "name": "HTTP: PATCH Target Driver",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2550,
        3720
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.FLEET_API_URL }}/drivers/{{ $('Code: UpdateDriver Validate').first().json.driverId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ [$('Code: UpdateDriver Validate').first().json.column]: $('Code: UpdateDriver Validate').first().json.value }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-6009-6009-6009-000000006009",
      "name": "HTTP: GET Attendance Today",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        1680
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FLEET_API_URL }}/attendance/today",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-6010-6010-6010-000000006010",
      "name": "HTTP: GET My Attendance Month",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        2520
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FLEET_API_URL }}/attendance/{{ new Date().toISOString().slice(0,7) }}?driver_id={{ $json.whoami.driver_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-6011-6011-6011-000000006011",
      "name": "HTTP: GET Vehicles Overdue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        4080
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FLEET_API_URL }}/vehicles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code: Normalize Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Normalize Update": {
      "main": [
        [
          {
            "node": "HTTP: GET whoami",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: GET whoami": {
      "main": [
        [
          {
            "node": "Code: Merge whoami",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Merge whoami": {
      "main": [
        [
          {
            "node": "Postgres: Read Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Read Session": {
      "main": [
        [
          {
            "node": "Code: Route Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Route Decision": {
      "main": [
        [
          {
            "node": "Switch: Main Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Main Router": {
      "main": [
        [
          {
            "node": "HTTP: Claim Invite Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Send Access Denied",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Active Flow Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Send Driver Main Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Send Admin Main Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: POST Clock In",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: POST Clock Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: GET Driver Vehicle",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: GET My Attendance Month",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: GET My Vehicle",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres: Set VehicleIssue Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres: Set UpdateDetails Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: GET Attendance Today",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres: Set Broadcast Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: GET Fleet KPI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Send Maintenance Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: GET Drivers List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: GET Vehicles Overdue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: GET Vehicles For Maint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Claim Invite Token": {
      "main": [
        [
          {
            "node": "Code: Check Claim Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Check Claim Result": {
      "main": [
        [
          {
            "node": "Switch: Claim OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Claim OK?": {
      "main": [
        [
          {
            "node": "HTTP: Send Driver Menu After Claim",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Send Invalid Token Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: GET Driver Vehicle": {
      "main": [
        [
          {
            "node": "Code: Start Accident Flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Start Accident Flow": {
      "main": [
        [
          {
            "node": "Postgres: Save Accident Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Save Accident Session": {
      "main": [
        [
          {
            "node": "HTTP: Send Accident Step 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Active Flow Router": {
      "main": [
        [
          {
            "node": "Switch: Active Flow Routes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Active Flow Routes": {
      "main": [
        [
          {
            "node": "Postgres: Accident Safe - Update Step",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Handle Accident Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres: Accident Road Clear Step",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Handle Insurance Photo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Handle Driver License Photo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Handle Car License Photo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres: Clear Accident Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: GET Drivers for Broadcast",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Prepare Broadcast Send",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres: Clear Broadcast Cancel Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: GET Issue Vehicle",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: UpdateDetails SetField",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: UpdateDetails Validate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: UpdateDriver SetDriver",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: UpdateDriver SetField",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: UpdateDriver Validate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: MaintLog SetVehicle",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: MaintLog SetType",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: MaintLog Validate KM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Accident Safe - Update Step": {
      "main": [
        [
          {
            "node": "HTTP: Send Awaiting Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Handle Accident Video": {
      "main": [
        [
          {
            "node": "HTTP: TG GetFile Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: TG GetFile Video": {
      "main": [
        [
          {
            "node": "Code: Build S3 Key Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build S3 Key Video": {
      "main": [
        [
          {
            "node": "HTTP: Download TG File Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Download TG File Video": {
      "main": [
        [
          {
            "node": "HTTP: S3 Upload Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: S3 Upload Video": {
      "main": [
        [
          {
            "node": "Postgres: Save Video Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Save Video Attachment": {
      "main": [
        [
          {
            "node": "HTTP: Send Awaiting Road Clear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Accident Road Clear Step": {
      "main": [
        [
          {
            "node": "HTTP: Send Awaiting Insurance Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Handle Insurance Photo": {
      "main": [
        [
          {
            "node": "HTTP: TG GetFile Insurance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: TG GetFile Insurance": {
      "main": [
        [
          {
            "node": "Code: Build S3 Key Insurance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build S3 Key Insurance": {
      "main": [
        [
          {
            "node": "HTTP: Download TG File Insurance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Download TG File Insurance": {
      "main": [
        [
          {
            "node": "HTTP: S3 Upload Insurance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: S3 Upload Insurance": {
      "main": [
        [
          {
            "node": "Postgres: Save Insurance Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Save Insurance Attachment": {
      "main": [
        [
          {
            "node": "HTTP: Send Awaiting Driver License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Handle Driver License Photo": {
      "main": [
        [
          {
            "node": "HTTP: TG GetFile Driver License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: TG GetFile Driver License": {
      "main": [
        [
          {
            "node": "Code: Build S3 Key Driver License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build S3 Key Driver License": {
      "main": [
        [
          {
            "node": "HTTP: Download TG File Driver License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Download TG File Driver License": {
      "main": [
        [
          {
            "node": "HTTP: S3 Upload Driver License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: S3 Upload Driver License": {
      "main": [
        [
          {
            "node": "Postgres: Save Driver License Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Save Driver License Attachment": {
      "main": [
        [
          {
            "node": "HTTP: Send Awaiting Car License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Handle Car License Photo": {
      "main": [
        [
          {
            "node": "HTTP: TG GetFile Car License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: TG GetFile Car License": {
      "main": [
        [
          {
            "node": "Code: Build S3 Key Car License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build S3 Key Car License": {
      "main": [
        [
          {
            "node": "HTTP: Download TG File Car License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Download TG File Car License": {
      "main": [
        [
          {
            "node": "HTTP: S3 Upload Car License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: S3 Upload Car License": {
      "main": [
        [
          {
            "node": "Postgres: Save Car License and Submit Accident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Save Car License and Submit Accident": {
      "main": [
        [
          {
            "node": "Code: Prepare Accident POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Accident POST": {
      "main": [
        [
          {
            "node": "HTTP: POST Create Accident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: POST Create Accident": {
      "main": [
        [
          {
            "node": "HTTP: Send Awaiting Manager Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Clear Accident Session": {
      "main": [
        [
          {
            "node": "HTTP: Send Accident Complete to Driver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Send Accident Complete to Driver": {
      "main": [
        [
          {
            "node": "HTTP: GET Admins for Accident Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: GET Admins for Accident Notify": {
      "main": [
        [
          {
            "node": "Code: Notify Admins Accident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Notify Admins Accident": {
      "main": [
        [
          {
            "node": "HTTP: Send Accident Notify to Each Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Format Attendance": {
      "main": [
        [
          {
            "node": "HTTP: Send Attendance Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: GET Fleet KPI": {
      "main": [
        [
          {
            "node": "Code: Format Fleet Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Format Fleet Summary": {
      "main": [
        [
          {
            "node": "HTTP: Send Fleet Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Set Broadcast Session": {
      "main": [
        [
          {
            "node": "HTTP: Send Broadcast Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: GET Drivers for Broadcast": {
      "main": [
        [
          {
            "node": "Code: Prepare Broadcast Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Broadcast Confirm": {
      "main": [
        [
          {
            "node": "Postgres: Save Broadcast State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Save Broadcast State": {
      "main": [
        [
          {
            "node": "HTTP: Send Broadcast Confirm Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Broadcast Send": {
      "main": [
        [
          {
            "node": "HTTP: Send Broadcast Message to Each Driver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Send Broadcast Message to Each Driver": {
      "main": [
        [
          {
            "node": "Postgres: Clear Broadcast Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Clear Broadcast Session": {
      "main": [
        [
          {
            "node": "HTTP: Send Broadcast Sent Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Clear Broadcast Cancel Session": {
      "main": [
        [
          {
            "node": "HTTP: Send Broadcast Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: GET My Vehicle": {
      "main": [
        [
          {
            "node": "Code: Format My Vehicle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Format My Vehicle": {
      "main": [
        [
          {
            "node": "HTTP: Send My Vehicle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Attendance CSV": {
      "main": [
        [
          {
            "node": "HTTP: Send Attendance CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Set VehicleIssue Session": {
      "main": [
        [
          {
            "node": "HTTP: Send VehicleIssue Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: GET Issue Vehicle": {
      "main": [
        [
          {
            "node": "Code: Prepare Issue Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Issue Event": {
      "main": [
        [
          {
            "node": "HTTP: POST Issue Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: POST Issue Event": {
      "main": [
        [
          {
            "node": "Postgres: Clear VehicleIssue Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Clear VehicleIssue Session": {
      "main": [
        [
          {
            "node": "HTTP: Send Issue Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Set UpdateDetails Session": {
      "main": [
        [
          {
            "node": "HTTP: Send UpdateDetails Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: UpdateDetails SetField": {
      "main": [
        [
          {
            "node": "Postgres: Save UpdateDetails Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Save UpdateDetails Field": {
      "main": [
        [
          {
            "node": "HTTP: Send UpdateDetails ValuePrompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: UpdateDetails Validate": {
      "main": [
        [
          {
            "node": "IF: UpdateDetails Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: UpdateDetails Valid": {
      "main": [
        [
          {
            "node": "HTTP: PATCH Driver Field",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Send UpdateDetails Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Clear UpdateDetails Session": {
      "main": [
        [
          {
            "node": "HTTP: Send UpdateDetails Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: GET Drivers List": {
      "main": [
        [
          {
            "node": "Code: Build Drivers Keyboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Drivers Keyboard": {
      "main": [
        [
          {
            "node": "Postgres: Set UpdateDriver Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Set UpdateDriver Session": {
      "main": [
        [
          {
            "node": "HTTP: Send Drivers Keyboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: UpdateDriver SetDriver": {
      "main": [
        [
          {
            "node": "Postgres: Save UpdateDriver Driver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Save UpdateDriver Driver": {
      "main": [
        [
          {
            "node": "HTTP: Send UpdateDriver FieldMenu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: UpdateDriver SetField": {
      "main": [
        [
          {
            "node": "Postgres: Save UpdateDriver Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Save UpdateDriver Field": {
      "main": [
        [
          {
            "node": "HTTP: Send UpdateDriver ValuePrompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: UpdateDriver Validate": {
      "main": [
        [
          {
            "node": "IF: UpdateDriver Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: UpdateDriver Valid": {
      "main": [
        [
          {
            "node": "HTTP: PATCH Target Driver",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Send UpdateDriver Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Clear UpdateDriver Session": {
      "main": [
        [
          {
            "node": "HTTP: Send UpdateDriver Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Format Overdue": {
      "main": [
        [
          {
            "node": "HTTP: Send Overdue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: GET Vehicles For Maint": {
      "main": [
        [
          {
            "node": "Code: Build Maint Vehicle Keyboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Maint Vehicle Keyboard": {
      "main": [
        [
          {
            "node": "Postgres: Set MaintLog Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Set MaintLog Session": {
      "main": [
        [
          {
            "node": "HTTP: Send Maint Vehicle Keyboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: MaintLog SetVehicle": {
      "main": [
        [
          {
            "node": "HTTP: GET Maint Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: GET Maint Types": {
      "main": [
        [
          {
            "node": "Code: Build Maint Type Keyboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Maint Type Keyboard": {
      "main": [
        [
          {
            "node": "Postgres: Save MaintLog Vehicle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Save MaintLog Vehicle": {
      "main": [
        [
          {
            "node": "HTTP: Send Maint Type Keyboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: MaintLog SetType": {
      "main": [
        [
          {
            "node": "Postgres: Save MaintLog Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Save MaintLog Type": {
      "main": [
        [
          {
            "node": "HTTP: Send Maint KM Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: MaintLog Validate KM": {
      "main": [
        [
          {
            "node": "IF: MaintLog KM Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: MaintLog KM Valid": {
      "main": [
        [
          {
            "node": "HTTP: POST Vehicle Care",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Send Maint KM Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: POST Vehicle Care": {
      "main": [
        [
          {
            "node": "Postgres: Clear MaintLog Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Clear MaintLog Session": {
      "main": [
        [
          {
            "node": "HTTP: Send Maint Logged Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: POST Clock In": {
      "main": [
        [
          {
            "node": "Code: Format Clock In",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Format Clock In": {
      "main": [
        [
          {
            "node": "HTTP: Send Clock In Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: POST Clock Out": {
      "main": [
        [
          {
            "node": "Code: Format Clock Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Format Clock Out": {
      "main": [
        [
          {
            "node": "HTTP: Send Clock Out Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: PATCH Driver Field": {
      "main": [
        [
          {
            "node": "Postgres: Clear UpdateDetails Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: PATCH Target Driver": {
      "main": [
        [
          {
            "node": "Postgres: Clear UpdateDriver Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: GET Attendance Today": {
      "main": [
        [
          {
            "node": "Code: Format Attendance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: GET My Attendance Month": {
      "main": [
        [
          {
            "node": "Code: Build Attendance CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: GET Vehicles Overdue": {
      "main": [
        [
          {
            "node": "Code: Format Overdue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}