services/n8n/workflows/shepherd-telegram-bot.json
{
  "id": "shepherdtelegrambot01",
  "name": "Shepherd Telegram Bot",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        300
      ],
      "parameters": {
        "updates": [
          "*"
        ]
      },
      "credentials": {
        "telegramApi": {
          "id": "shepherdtgcred",
          "name": "Shepherd Telegram Bot"
        }
      }
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Code: Normalize Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "jsCode": "const body = $input.first().json;\nconst msg = body.message || body.callback_query?.message;\nconst chatId = msg?.chat?.id || body.callback_query?.from?.id;\nconst isCallback = !!body.callback_query;\nconst callbackData = body.callback_query?.data || null;\nconst callbackQueryId = body.callback_query?.id || null;\nconst text = body.message?.text || null;\nconst video = body.message?.video || null;\nconst photo = body.message?.photo || null;\nconst messageId = msg?.message_id || null;\nconst startToken = text?.startsWith('/start ') ? text.slice(7).trim() : null;\nconst isStart = text === '/start' || !!startToken;\n\nreturn [{ json: { chatId, isCallback, callbackData, callbackQueryId, text, video, photo: photo ? photo[photo.length - 1] : null, messageId, startToken, isStart } }];"
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "HTTP: GET whoami",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FLEET_API_URL }}/whoami?chat_id={{ $json.chatId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Code: Merge whoami",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "parameters": {
        "jsCode": "const normalized = $('Code: Normalize Update').first().json;\nconst whoamiRaw = $input.first().json;\nconst whoamiStatus = $input.first().json.$response?.statusCode || 200;\nconst whoami = (whoamiStatus === 200 && whoamiRaw && !whoamiRaw.error) ? whoamiRaw : null;\nreturn [{ json: { ...normalized, whoami, whoamiStatus } }];"
      }
    },
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Postgres: Read Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT state FROM bot_sessions WHERE chat_id = $1",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: Normalize Update').first().json.chatId]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "shepherddbcred",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Code: Route Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ],
      "parameters": {
        "jsCode": "const ctx = $('Code: Merge whoami').first().json;\nconst sessionRows = $input.all();\nconst raw = (sessionRows && sessionRows.length > 0 && sessionRows[0].json) ? sessionRows[0].json.state : {};\nconst state = (typeof raw === 'string') ? JSON.parse(raw) : (raw || {});\nconst callbackData = ctx.callbackData || '';\nconst startToken = ctx.startToken;\nconst whoami = ctx.whoami;\nconst hasVideo = !!ctx.video, hasPhoto = !!ctx.photo, hasText = !!ctx.text;\n\nfunction activeRoute(flow, step) {\n  if (flow === 'accident') {\n    if (step === 'awaiting_safe' && callbackData === 'accident_safe') return 'accident_safe';\n    if (step === 'awaiting_video' && hasVideo) return 'accident_video';\n    if (step === 'awaiting_vehicle_clear' && callbackData === 'accident_road_clear') return 'accident_road_clear';\n    if (step === 'awaiting_insurance_photo' && hasPhoto) return 'accident_insurance_photo';\n    if (step === 'awaiting_driver_license_photo' && hasPhoto) return 'accident_driver_license';\n    if (step === 'awaiting_car_license_photo' && hasPhoto) return 'accident_car_license';\n    if (step === 'awaiting_manager_call' && callbackData === 'accident_manager_called') return 'accident_complete';\n    return 'accident_wait';\n  }\n  if (flow === 'broadcast') {\n    if (step === 'awaiting_message' && hasText) return 'broadcast_message';\n    if (step === 'awaiting_confirm' && callbackData === 'broadcast_confirm') return 'broadcast_confirm';\n    if (step === 'awaiting_confirm' && callbackData === 'broadcast_cancel') return 'broadcast_cancel';\n    return 'broadcast_wait';\n  }\n  if (flow === 'vehicle_issue') return (step === 'awaiting_description' && hasText) ? 'vehicle_issue_text' : 'vehicle_issue_wait';\n  if (flow === 'update_details') {\n    if (step === 'awaiting_field' && (callbackData === 'ud_license_valid' || callbackData === 'ud_license_number' || callbackData === 'ud_phone')) return 'update_details_field';\n    if (step === 'awaiting_value' && hasText) return 'update_details_value';\n    return 'update_details_wait';\n  }\n  if (flow === 'update_driver') {\n    if (step === 'awaiting_driver' && callbackData.startsWith('ud2_driver_')) return 'update_driver_pick';\n    if (step === 'awaiting_field' && callbackData.startsWith('ud2_field_')) return 'update_driver_field';\n    if (step === 'awaiting_value' && hasText) return 'update_driver_value';\n    return 'update_driver_wait';\n  }\n  if (flow === 'maint_log') {\n    if (step === 'awaiting_vehicle' && callbackData.startsWith('ml_veh_')) return 'maint_log_vehicle';\n    if (step === 'awaiting_type' && callbackData.startsWith('ml_type_')) return 'maint_log_type';\n    if (step === 'awaiting_km' && hasText) return 'maint_log_km';\n    return 'maint_log_wait';\n  }\n  return 'unknown_active';\n}\n\nconst flowToFeature = { accident:'accident', broadcast:'broadcast', vehicle_issue:'vehicle_issue', update_details:'update_details', update_driver:'update_driver', maint_log:'maintenance' };\nconst cbToFeature = {\n  clock_in:['clock','cmd_clock_in'], clock_out:['clock','cmd_clock_out'],\n  accident_start:['accident','cmd_accident'],\n  vehicle_issue:['vehicle_issue','cmd_vehicle_issue'], update_details:['update_details','cmd_update_details'],\n  attendance_csv:['attendance_csv','cmd_attendance_csv'], my_vehicle:['my_vehicle','cmd_my_vehicle'],\n  admin_attendance:['attendance_admin','cmd_admin_attendance'], admin_broadcast:['broadcast','cmd_admin_broadcast'],\n  admin_summary:['fleet_summary','cmd_admin_summary'], admin_maintenance:['maintenance','cmd_admin_maintenance'],\n  admin_update_driver:['update_driver','cmd_admin_update_driver'],\n  maint_overdue:['maintenance','cmd_maint_overdue'], maint_log:['maintenance','cmd_maint_log'],\n};\n\nlet feature, route;\nif (!whoami || whoami.error || whoami.detail === 'Not found') {\n  if (startToken) { feature = 'invite_claim'; route = 'unknown_with_token'; }\n  else { feature = 'access_denied'; route = 'unknown_no_token'; }\n} else if (state && state.flow) {\n  feature = flowToFeature[state.flow];\n  route = activeRoute(state.flow, state.step || '');\n  if (!feature) { feature = whoami.role === 'admin' ? 'menu_admin' : 'menu_driver'; route = 'menu'; }\n} else if (ctx.isCallback && cbToFeature[callbackData]) {\n  feature = cbToFeature[callbackData][0]; route = cbToFeature[callbackData][1];\n} else {\n  feature = whoami.role === 'admin' ? 'menu_admin' : 'menu_driver'; route = 'menu';\n}\nreturn [{ json: { ...ctx, sessionState: state, feature, route } }];\n"
      }
    },
    {
      "id": "a1b2c3d4-0030-0030-0030-000000000030",
      "name": "HTTP: Send Driver Main Menu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, text: '🚗 ניהול נהג - Shepard\\n━━━━━━━━━━━━━━━━', parse_mode: 'HTML', reply_markup: { inline_keyboard: [ [{text:'⏱ כניסה לעבודה', callback_data:'clock_in'},{text:'🚪 יציאה מעבודה', callback_data:'clock_out'}], [{text:'🔧 דיווח תקלה', callback_data:'vehicle_issue'},{text:'🚨 דיווח תאונה', callback_data:'accident_start'}], [{text:'✏️ עדכון פרטים', callback_data:'update_details'},{text:'📊 דוח נוכחות', callback_data:'attendance_csv'}], [{text:'🚗 הרכב שלי', callback_data:'my_vehicle'}] ] } }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0040-0040-0040-000000000040",
      "name": "HTTP: Send Admin Main Menu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, text: '⚙️ פאנל ניהול - Shepard\\n━━━━━━━━━━━━━━━━', parse_mode: 'HTML', reply_markup: { inline_keyboard: [ [{text:'👥 נוכחות היום', callback_data:'admin_attendance'},{text:'📢 שידור הודעה', callback_data:'admin_broadcast'}], [{text:'🚗 סיכום צי', callback_data:'admin_summary'},{text:'✏️ עדכון נהג', callback_data:'admin_update_driver'}], [{text:'🔧 תחזוקה', callback_data:'admin_maintenance'}] ] } }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0020-0020-0020-000000000020",
      "name": "HTTP: Send Access Denied",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        120
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, text: 'הגישה למערכת מוגבלת. 🔒\\nלקבלת גישה פנה/י למנהל שלך.', parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "b1c2d3e4-7032-7032-7032-000000007032",
      "name": "Switch: Feature",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        900,
        400
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.feature }}",
                    "rightValue": "menu_driver",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "0",
              "renameOutput": true,
              "outputKeyName": "menu_driver"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.feature }}",
                    "rightValue": "menu_admin",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "1",
              "renameOutput": true,
              "outputKeyName": "menu_admin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.feature }}",
                    "rightValue": "access_denied",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "2",
              "renameOutput": true,
              "outputKeyName": "access_denied"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.feature }}",
                    "rightValue": "invite_claim",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "3",
              "renameOutput": true,
              "outputKeyName": "invite_claim"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.feature }}",
                    "rightValue": "clock",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "4",
              "renameOutput": true,
              "outputKeyName": "clock"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.feature }}",
                    "rightValue": "accident",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "5",
              "renameOutput": true,
              "outputKeyName": "accident"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.feature }}",
                    "rightValue": "attendance_csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "6",
              "renameOutput": true,
              "outputKeyName": "attendance_csv"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.feature }}",
                    "rightValue": "my_vehicle",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "7",
              "renameOutput": true,
              "outputKeyName": "my_vehicle"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.feature }}",
                    "rightValue": "vehicle_issue",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "8",
              "renameOutput": true,
              "outputKeyName": "vehicle_issue"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.feature }}",
                    "rightValue": "update_details",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "9",
              "renameOutput": true,
              "outputKeyName": "update_details"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.feature }}",
                    "rightValue": "broadcast",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "10",
              "renameOutput": true,
              "outputKeyName": "broadcast"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.feature }}",
                    "rightValue": "attendance_admin",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "11",
              "renameOutput": true,
              "outputKeyName": "attendance_admin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.feature }}",
                    "rightValue": "fleet_summary",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "12",
              "renameOutput": true,
              "outputKeyName": "fleet_summary"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.feature }}",
                    "rightValue": "maintenance",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "13",
              "renameOutput": true,
              "outputKeyName": "maintenance"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.feature }}",
                    "rightValue": "update_driver",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "14",
              "renameOutput": true,
              "outputKeyName": "update_driver"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b1c2d3e4-7033-7033-7033-000000007033",
      "name": "Execute: invite_claim",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1180,
        0
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "subinviteclaim",
          "mode": "id",
          "cachedResultName": "Shepherd · 🔑 Invite Claim"
        },
        "options": {}
      }
    },
    {
      "id": "b1c2d3e4-7034-7034-7034-000000007034",
      "name": "Execute: clock",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1180,
        140
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "subclock",
          "mode": "id",
          "cachedResultName": "Shepherd · ⏱ Clock In / Out"
        },
        "options": {}
      }
    },
    {
      "id": "b1c2d3e4-7035-7035-7035-000000007035",
      "name": "Execute: accident",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1180,
        280
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "subaccident",
          "mode": "id",
          "cachedResultName": "Shepherd · 🚨 Accident Protocol"
        },
        "options": {}
      }
    },
    {
      "id": "b1c2d3e4-7036-7036-7036-000000007036",
      "name": "Execute: attendance_csv",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1180,
        420
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "subattendancecsv",
          "mode": "id",
          "cachedResultName": "Shepherd · 📊 Monthly Attendance CSV"
        },
        "options": {}
      }
    },
    {
      "id": "b1c2d3e4-7037-7037-7037-000000007037",
      "name": "Execute: my_vehicle",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1180,
        560
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "submyvehicle",
          "mode": "id",
          "cachedResultName": "Shepherd · 🚗 My Vehicle"
        },
        "options": {}
      }
    },
    {
      "id": "b1c2d3e4-7038-7038-7038-000000007038",
      "name": "Execute: vehicle_issue",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1180,
        700
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "subvehicleissue",
          "mode": "id",
          "cachedResultName": "Shepherd · 🔧 Report Vehicle Issue"
        },
        "options": {}
      }
    },
    {
      "id": "b1c2d3e4-7039-7039-7039-000000007039",
      "name": "Execute: update_details",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1180,
        840
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "subupdatedetails",
          "mode": "id",
          "cachedResultName": "Shepherd · ✏️ Update My Details"
        },
        "options": {}
      }
    },
    {
      "id": "b1c2d3e4-7040-7040-7040-000000007040",
      "name": "Execute: broadcast",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1180,
        980
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "subbroadcast",
          "mode": "id",
          "cachedResultName": "Shepherd · 📢 Broadcast (admin)"
        },
        "options": {}
      }
    },
    {
      "id": "b1c2d3e4-7041-7041-7041-000000007041",
      "name": "Execute: attendance_admin",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1180,
        1120
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "subattendanceadmin",
          "mode": "id",
          "cachedResultName": "Shepherd · 👥 Today's Attendance (admin)"
        },
        "options": {}
      }
    },
    {
      "id": "b1c2d3e4-7042-7042-7042-000000007042",
      "name": "Execute: fleet_summary",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1180,
        1260
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "subfleetsummary",
          "mode": "id",
          "cachedResultName": "Shepherd · 📈 Fleet Summary (admin)"
        },
        "options": {}
      }
    },
    {
      "id": "b1c2d3e4-7043-7043-7043-000000007043",
      "name": "Execute: maintenance",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1180,
        1400
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "submaintenance",
          "mode": "id",
          "cachedResultName": "Shepherd · 🛠 Maintenance (admin)"
        },
        "options": {}
      }
    },
    {
      "id": "b1c2d3e4-7044-7044-7044-000000007044",
      "name": "Execute: update_driver",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1180,
        1540
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "subupdatedriver",
          "mode": "id",
          "cachedResultName": "Shepherd · 🧑‍✈️ Update Driver (admin)"
        },
        "options": {}
      }
    },
    {
      "id": "b1c2d3e4-7045-7045-7045-000000007045",
      "name": "Note 7045",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        -240
      ],
      "parameters": {
        "content": "# 🤖 Shepherd Telegram Bot · ROUTER\n\nThin dispatcher. Every Telegram update flows through the backbone, then **Switch: Feature** calls the matching sub-workflow (Execute Sub-workflow). Each feature lives in its own workflow `Shepherd · …`.\n\n**Credentials:** Shepherd Telegram Bot (TG), Shepherd DB (Postgres), Shepherd AWS (S3).\n\n**Data policy:** only `bot_sessions` is read here; everything else via Fleet API.",
        "height": 180,
        "width": 760,
        "color": 7
      }
    },
    {
      "id": "b1c2d3e4-7046-7046-7046-000000007046",
      "name": "Note 7046",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        60
      ],
      "parameters": {
        "content": "## 🚦 Backbone\nNormalize → whoami → read session → **Route Decision** computes `{feature, route}` (handles unknown users, active-flow resume, and callbacks).",
        "height": 110,
        "width": 700,
        "color": 4
      }
    },
    {
      "id": "b1c2d3e4-7047-7047-7047-000000007047",
      "name": "Note 7047",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        860,
        -40
      ],
      "parameters": {
        "content": "## 🎛 Switch: Feature\nDispatches on `feature`. Menus + access-denied are inline (1 node); every real feature is an **Execute Sub-workflow** call passing the full `ctx`.",
        "height": 120,
        "width": 520,
        "color": 6
      }
    }
  ],
  "connections": {
    "Switch: Feature": {
      "main": [
        [
          {
            "node": "HTTP: Send Driver Main Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Send Admin Main Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Send Access Denied",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: invite_claim",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: clock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: accident",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: attendance_csv",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: my_vehicle",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: vehicle_issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: update_details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: broadcast",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: attendance_admin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: fleet_summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: maintenance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: update_driver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code: Normalize Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Normalize Update": {
      "main": [
        [
          {
            "node": "HTTP: GET whoami",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: GET whoami": {
      "main": [
        [
          {
            "node": "Code: Merge whoami",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Merge whoami": {
      "main": [
        [
          {
            "node": "Postgres: Read Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Read Session": {
      "main": [
        [
          {
            "node": "Code: Route Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Route Decision": {
      "main": [
        [
          {
            "node": "Switch: Feature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}