services/n8n/workflows/sub-attendance-csv.json
{
  "id": "subattendancecsv",
  "name": "Shepherd · 📊 Monthly Attendance CSV",
  "nodes": [
    {
      "id": "b1c2d3e4-7007-7007-7007-000000007007",
      "name": "On Parent Call",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "a1b2c3d4-6010-6010-6010-000000006010",
      "name": "HTTP: GET My Attendance Month",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FLEET_API_URL }}/attendance/{{ new Date().toISOString().slice(0,7) }}?driver_id={{ $json.whoami.driver_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1005-1005-1005-000000001005",
      "name": "Code: Build Attendance CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        0
      ],
      "parameters": {
        "jsCode": "const ctx = $('On Parent Call').first().json;\nconst rows = $input.all().map(i=>i.json).filter(r=>r.work_date);\nlet csv = 'תאריך,כניסה,יציאה,שעות\\n';\nfor (const r of rows) {\n  let hrs='';\n  if (r.clock_in && r.clock_out) {\n    const [ih,im]=r.clock_in.split(':').map(Number);\n    const [oh,om]=r.clock_out.split(':').map(Number);\n    hrs=(((oh*60+om)-(ih*60+im))/60).toFixed(2);\n  }\n  const d=String(r.work_date).slice(0,10).split('-').reverse().join('/');\n  csv+=`${d},${r.clock_in||''},${r.clock_out||''},${hrs}\\n`;\n}\nconst fileName=`attendance_${new Date().toISOString().slice(0,7)}.csv`;\nconst buf=Buffer.from('\\uFEFF'+csv,'utf8');\nreturn [{ json: { chatId: ctx.chatId, empty: rows.length===0 }, binary: { data: { data: buf.toString('base64'), fileName, mimeType:'text/csv' } } }];"
      }
    },
    {
      "id": "a1b2c3d4-1006-1006-1006-000000001006",
      "name": "HTTP: Send Attendance CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendDocument",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chatId }}"
            },
            {
              "name": "caption",
              "value": "📊 דוח נוכחות חודשי"
            },
            {
              "parameterType": "formBinaryData",
              "name": "document",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "b1c2d3e4-7008-7008-7008-000000007008",
      "name": "Note 7008",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -150
      ],
      "parameters": {
        "content": "## 📊 Monthly Attendance CSV\n\nDriver downloads the current month. `GET /attendance/{month}?driver_id=`, builds a UTF-8 CSV (BOM for Excel Hebrew), sends as a Telegram document.\n\n**Routes:** `cmd_attendance_csv`",
        "height": 120,
        "width": 900,
        "color": 7
      }
    }
  ],
  "connections": {
    "HTTP: GET My Attendance Month": {
      "main": [
        [
          {
            "node": "Code: Build Attendance CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Attendance CSV": {
      "main": [
        [
          {
            "node": "HTTP: Send Attendance CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Parent Call": {
      "main": [
        [
          {
            "node": "HTTP: GET My Attendance Month",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}