services/n8n/workflows/sub-update-details.json
{
  "id": "subupdatedetails",
  "name": "Shepherd · ✏️ Update My Details",
  "nodes": [
    {
      "id": "b1c2d3e4-7014-7014-7014-000000007014",
      "name": "On Parent Call",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "a1b2c3d4-1017-1017-1017-000000001017",
      "name": "Postgres: Save UpdateDetails Field",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        540,
        200
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_sessions (chat_id, state, updated_at) VALUES ($1, $2::jsonb, NOW()) ON CONFLICT (chat_id) DO UPDATE SET state=$2::jsonb, updated_at=NOW()",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: UpdateDetails SetField').first().json.chatId, JSON.stringify($('Code: UpdateDetails SetField').first().json.newState)]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "shepherddbcred",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-6007-6007-6007-000000006007",
      "name": "HTTP: PATCH Driver Field",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        400
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.FLEET_API_URL }}/drivers/{{ $('Code: UpdateDetails Validate').first().json.driverId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ [$('Code: UpdateDetails Validate').first().json.column]: $('Code: UpdateDetails Validate').first().json.value }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1024-1024-1024-000000001024",
      "name": "HTTP: Send UpdateDetails Invalid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: UpdateDetails Validate').first().json.chatId, text: $('Code: UpdateDetails Validate').first().json.errorMsg, parse_mode:'HTML' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1022-1022-1022-000000001022",
      "name": "Postgres: Clear UpdateDetails Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1020,
        400
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM bot_sessions WHERE chat_id = $1",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: UpdateDetails Validate').first().json.chatId]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "shepherddbcred",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-1015-1015-1015-000000001015",
      "name": "HTTP: Send UpdateDetails Menu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('On Parent Call').first().json.chatId, text: '✏️ עדכון פרטים\\n\\nבחר/י שדה לעדכון:', parse_mode:'HTML', reply_markup: { inline_keyboard: [[{text:'📅 תוקף רישיון', callback_data:'ud_license_valid'}],[{text:'🪪 מספר רישיון', callback_data:'ud_license_number'}],[{text:'📱 טלפון', callback_data:'ud_phone'}]] } }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1014-1014-1014-000000001014",
      "name": "Postgres: Set UpdateDetails Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        300,
        0
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_sessions (chat_id, state, updated_at) VALUES ($1, $2::jsonb, NOW()) ON CONFLICT (chat_id) DO UPDATE SET state=$2::jsonb, updated_at=NOW()",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$json.chatId, JSON.stringify({flow:'update_details', step:'awaiting_field'})]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "shepherddbcred",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-1020-1020-1020-000000001020",
      "name": "IF: UpdateDetails Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        540,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-1019-1019-1019-000000001019",
      "name": "Code: UpdateDetails Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        400
      ],
      "parameters": {
        "jsCode": "const ctx = $('On Parent Call').first().json;\nconst state = ctx.sessionState || {};\nconst field = state.field || '';\nconst raw = (ctx.text || '').trim();\nlet valid = true, errorMsg = '', column = '', value = raw;\nif (field === 'ud_license_valid') {\n  column = 'license_valid_to';\n  const m = raw.match(/^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/);\n  if (!m) { valid=false; errorMsg='⚠️ פורמט תאריך שגוי. הזן/י DD/MM/YYYY.'; }\n  else value = `${m[3]}-${m[2]}-${m[1]}`;\n} else if (field === 'ud_license_number') {\n  column = 'license_number';\n  if (!raw) { valid=false; errorMsg='⚠️ מספר רישיון לא תקין.'; }\n} else if (field === 'ud_phone') {\n  column = 'phone_number';\n  if (!/^0\\d{8,9}$/.test(raw)) { valid=false; errorMsg='⚠️ מספר טלפון לא תקין. דוגמה: 0501234567'; }\n} else { valid=false; errorMsg='⚠️ שדה לא ידוע.'; }\nreturn [{ json: { ...ctx, valid, errorMsg, column, value, driverId: ctx.whoami.driver_id } }];"
      }
    },
    {
      "id": "a1b2c3d4-1023-1023-1023-000000001023",
      "name": "HTTP: Send UpdateDetails Confirm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: UpdateDetails Validate').first().json.chatId, text: '✅ הפרטים עודכנו בהצלחה.', parse_mode:'HTML' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1016-1016-1016-000000001016",
      "name": "Code: UpdateDetails SetField",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        200
      ],
      "parameters": {
        "jsCode": "const ctx = $('On Parent Call').first().json;\nconst field = ctx.callbackData;\nconst labels = {ud_license_valid:'תוקף רישיון (DD/MM/YYYY)', ud_license_number:'מספר רישיון', ud_phone:'מספר טלפון'};\nconst newState = { flow:'update_details', step:'awaiting_value', field };\nreturn [{ json: { chatId: ctx.chatId, prompt: 'הזן/י ' + (labels[field]||'ערך') + ':', newState } }];"
      }
    },
    {
      "id": "a1b2c3d4-1018-1018-1018-000000001018",
      "name": "HTTP: Send UpdateDetails ValuePrompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: UpdateDetails SetField').first().json.chatId, text: $('Code: UpdateDetails SetField').first().json.prompt, parse_mode:'HTML' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "b1c2d3e4-7015-7015-7015-000000007015",
      "name": "Switch: Step",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        120,
        0
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cmd_update_details",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "0",
              "renameOutput": true,
              "outputKeyName": "cmd_update_details"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "update_details_field",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "1",
              "renameOutput": true,
              "outputKeyName": "update_details_field"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "update_details_value",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "2",
              "renameOutput": true,
              "outputKeyName": "update_details_value"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b1c2d3e4-7016-7016-7016-000000007016",
      "name": "Note 7016",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -150
      ],
      "parameters": {
        "content": "## ✏️ Update My Details\n\n3-step. Field menu (licence expiry / licence no. / phone) → value prompt → validate → `PATCH /drivers/{id}`.\n\n**Routes:** `cmd_update_details`, `update_details_field`, `update_details_value`",
        "height": 120,
        "width": 900,
        "color": 7
      }
    }
  ],
  "connections": {
    "Postgres: Save UpdateDetails Field": {
      "main": [
        [
          {
            "node": "HTTP: Send UpdateDetails ValuePrompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: PATCH Driver Field": {
      "main": [
        [
          {
            "node": "Postgres: Clear UpdateDetails Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Clear UpdateDetails Session": {
      "main": [
        [
          {
            "node": "HTTP: Send UpdateDetails Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Set UpdateDetails Session": {
      "main": [
        [
          {
            "node": "HTTP: Send UpdateDetails Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: UpdateDetails Valid": {
      "main": [
        [
          {
            "node": "HTTP: PATCH Driver Field",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Send UpdateDetails Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: UpdateDetails Validate": {
      "main": [
        [
          {
            "node": "IF: UpdateDetails Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: UpdateDetails SetField": {
      "main": [
        [
          {
            "node": "Postgres: Save UpdateDetails Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Parent Call": {
      "main": [
        [
          {
            "node": "Switch: Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Step": {
      "main": [
        [
          {
            "node": "Postgres: Set UpdateDetails Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: UpdateDetails SetField",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: UpdateDetails Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}