services/n8n/workflows/sub-update-driver.json
{
  "id": "subupdatedriver",
  "name": "Shepherd · 🧑‍✈️ Update Driver (admin)",
  "nodes": [
    {
      "id": "b1c2d3e4-7027-7027-7027-000000007027",
      "name": "On Parent Call",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "a1b2c3d4-1030-1030-1030-000000001030",
      "name": "Postgres: Save UpdateDriver Driver",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        540,
        200
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_sessions (chat_id, state, updated_at) VALUES ($1, $2::jsonb, NOW()) ON CONFLICT (chat_id) DO UPDATE SET state=$2::jsonb, updated_at=NOW()",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: UpdateDriver SetDriver').first().json.chatId, JSON.stringify($('Code: UpdateDriver SetDriver').first().json.newState)]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "shepherddbcred",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-1033-1033-1033-000000001033",
      "name": "Postgres: Save UpdateDriver Field",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        540,
        400
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_sessions (chat_id, state, updated_at) VALUES ($1, $2::jsonb, NOW()) ON CONFLICT (chat_id) DO UPDATE SET state=$2::jsonb, updated_at=NOW()",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: UpdateDriver SetField').first().json.chatId, JSON.stringify($('Code: UpdateDriver SetField').first().json.newState)]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "shepherddbcred",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-1039-1039-1039-000000001039",
      "name": "HTTP: Send UpdateDriver Confirm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        600
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: UpdateDriver Validate').first().json.chatId, text: '✅ פרטי הנהג עודכנו בהצלחה.', parse_mode:'HTML' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1038-1038-1038-000000001038",
      "name": "Postgres: Clear UpdateDriver Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1020,
        600
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM bot_sessions WHERE chat_id = $1",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: UpdateDriver Validate').first().json.chatId]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "shepherddbcred",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-1026-1026-1026-000000001026",
      "name": "Code: Build Drivers Keyboard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        0
      ],
      "parameters": {
        "jsCode": "const ctx = $('On Parent Call').first().json;\nconst res = $input.first().json;\nconst drivers = Array.isArray(res)?res:(res.items||[]);\nconst rows = drivers.slice(0,50).map(d=>[{ text: d.full_name||d.driver_id, callback_data:'ud2_driver_'+d.driver_id }]);\nconst keyboard = { inline_keyboard: rows.length?rows:[[{text:'אין נהגים', callback_data:'noop'}]] };\nconst newState = { flow:'update_driver', step:'awaiting_driver' };\nreturn [{ json: { chatId: ctx.chatId, keyboard, newState } }];"
      }
    },
    {
      "id": "a1b2c3d4-1035-1035-1035-000000001035",
      "name": "Code: UpdateDriver Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        600
      ],
      "parameters": {
        "jsCode": "const ctx = $('On Parent Call').first().json;\nconst state = ctx.sessionState || {};\nconst field = state.field || '';\nconst raw = (ctx.text || '').trim();\nlet valid = true, errorMsg = '', column = '', value = raw;\nif (field === 'ud_license_valid') {\n  column = 'license_valid_to';\n  const m = raw.match(/^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/);\n  if (!m) { valid=false; errorMsg='⚠️ פורמט תאריך שגוי. הזן/י DD/MM/YYYY.'; }\n  else value = `${m[3]}-${m[2]}-${m[1]}`;\n} else if (field === 'ud_license_number') {\n  column = 'license_number';\n  if (!raw) { valid=false; errorMsg='⚠️ מספר רישיון לא תקין.'; }\n} else if (field === 'ud_phone') {\n  column = 'phone_number';\n  if (!/^0\\d{8,9}$/.test(raw)) { valid=false; errorMsg='⚠️ מספר טלפון לא תקין. דוגמה: 0501234567'; }\n} else { valid=false; errorMsg='⚠️ שדה לא ידוע.'; }\nreturn [{ json: { ...ctx, valid, errorMsg, column, value, driverId: (state.targetDriverId) } }];"
      }
    },
    {
      "id": "a1b2c3d4-1034-1034-1034-000000001034",
      "name": "HTTP: Send UpdateDriver ValuePrompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: UpdateDriver SetField').first().json.chatId, text: $('Code: UpdateDriver SetField').first().json.prompt, parse_mode:'HTML' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1036-1036-1036-000000001036",
      "name": "IF: UpdateDriver Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        540,
        600
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-1027-1027-1027-000000001027",
      "name": "Postgres: Set UpdateDriver Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        780,
        0
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_sessions (chat_id, state, updated_at) VALUES ($1, $2::jsonb, NOW()) ON CONFLICT (chat_id) DO UPDATE SET state=$2::jsonb, updated_at=NOW()",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: Build Drivers Keyboard').first().json.chatId, JSON.stringify($('Code: Build Drivers Keyboard').first().json.newState)]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "shepherddbcred",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-6008-6008-6008-000000006008",
      "name": "HTTP: PATCH Target Driver",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        600
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.FLEET_API_URL }}/drivers/{{ $('Code: UpdateDriver Validate').first().json.driverId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ [$('Code: UpdateDriver Validate').first().json.column]: $('Code: UpdateDriver Validate').first().json.value }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1029-1029-1029-000000001029",
      "name": "Code: UpdateDriver SetDriver",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        200
      ],
      "parameters": {
        "jsCode": "const ctx = $('On Parent Call').first().json;\nconst targetDriverId = ctx.callbackData.replace('ud2_driver_','');\nconst newState = { flow:'update_driver', step:'awaiting_field', targetDriverId };\nreturn [{ json: { chatId: ctx.chatId, newState } }];"
      }
    },
    {
      "id": "a1b2c3d4-1040-1040-1040-000000001040",
      "name": "HTTP: Send UpdateDriver Invalid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        600
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: UpdateDriver Validate').first().json.chatId, text: $('Code: UpdateDriver Validate').first().json.errorMsg, parse_mode:'HTML' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1028-1028-1028-000000001028",
      "name": "HTTP: Send Drivers Keyboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: Build Drivers Keyboard').first().json.chatId, text: 'בחר/י נהג לעדכון:', parse_mode:'HTML', reply_markup: $('Code: Build Drivers Keyboard').first().json.keyboard }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1032-1032-1032-000000001032",
      "name": "Code: UpdateDriver SetField",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        400
      ],
      "parameters": {
        "jsCode": "const ctx = $('On Parent Call').first().json;\nconst map = {ud2_field_license_valid:'ud_license_valid', ud2_field_license_number:'ud_license_number', ud2_field_phone:'ud_phone'};\nconst field = map[ctx.callbackData]||'';\nconst state = ctx.sessionState||{};\nconst labels = {ud_license_valid:'תוקף רישיון (DD/MM/YYYY)', ud_license_number:'מספר רישיון', ud_phone:'מספר טלפון'};\nconst newState = { flow:'update_driver', step:'awaiting_value', field, targetDriverId: state.targetDriverId };\nreturn [{ json: { chatId: ctx.chatId, prompt: 'הזן/י ' + (labels[field]||'ערך') + ':', newState } }];"
      }
    },
    {
      "id": "a1b2c3d4-1031-1031-1031-000000001031",
      "name": "HTTP: Send UpdateDriver FieldMenu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: UpdateDriver SetDriver').first().json.chatId, text: 'בחר/י שדה לעדכון:', parse_mode:'HTML', reply_markup: { inline_keyboard: [[{text:'📅 תוקף רישיון', callback_data:'ud2_field_license_valid'}],[{text:'🪪 מספר רישיון', callback_data:'ud2_field_license_number'}],[{text:'📱 טלפון', callback_data:'ud2_field_phone'}]] } }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1025-1025-1025-000000001025",
      "name": "HTTP: GET Drivers List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FLEET_API_URL }}/drivers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "b1c2d3e4-7028-7028-7028-000000007028",
      "name": "Switch: Step",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        120,
        0
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cmd_admin_update_driver",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "0",
              "renameOutput": true,
              "outputKeyName": "cmd_admin_update_driver"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "update_driver_pick",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "1",
              "renameOutput": true,
              "outputKeyName": "update_driver_pick"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "update_driver_field",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "2",
              "renameOutput": true,
              "outputKeyName": "update_driver_field"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "update_driver_value",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "3",
              "renameOutput": true,
              "outputKeyName": "update_driver_value"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b1c2d3e4-7029-7029-7029-000000007029",
      "name": "Note 7029",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -150
      ],
      "parameters": {
        "content": "## 🧑‍✈️ Update Driver (admin)\n\n3-step. Pick driver → field → value → `PATCH /drivers/{id}`.\n\n**Routes:** `cmd_admin_update_driver`, `update_driver_pick`, `update_driver_field`, `update_driver_value`",
        "height": 120,
        "width": 900,
        "color": 7
      }
    }
  ],
  "connections": {
    "Postgres: Save UpdateDriver Driver": {
      "main": [
        [
          {
            "node": "HTTP: Send UpdateDriver FieldMenu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Save UpdateDriver Field": {
      "main": [
        [
          {
            "node": "HTTP: Send UpdateDriver ValuePrompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Clear UpdateDriver Session": {
      "main": [
        [
          {
            "node": "HTTP: Send UpdateDriver Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Drivers Keyboard": {
      "main": [
        [
          {
            "node": "Postgres: Set UpdateDriver Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: UpdateDriver Validate": {
      "main": [
        [
          {
            "node": "IF: UpdateDriver Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: UpdateDriver Valid": {
      "main": [
        [
          {
            "node": "HTTP: PATCH Target Driver",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Send UpdateDriver Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Set UpdateDriver Session": {
      "main": [
        [
          {
            "node": "HTTP: Send Drivers Keyboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: PATCH Target Driver": {
      "main": [
        [
          {
            "node": "Postgres: Clear UpdateDriver Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: UpdateDriver SetDriver": {
      "main": [
        [
          {
            "node": "Postgres: Save UpdateDriver Driver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: UpdateDriver SetField": {
      "main": [
        [
          {
            "node": "Postgres: Save UpdateDriver Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: GET Drivers List": {
      "main": [
        [
          {
            "node": "Code: Build Drivers Keyboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Parent Call": {
      "main": [
        [
          {
            "node": "Switch: Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Step": {
      "main": [
        [
          {
            "node": "HTTP: GET Drivers List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: UpdateDriver SetDriver",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: UpdateDriver SetField",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: UpdateDriver Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}