services/n8n/workflows/sub-attendance-admin.json
{
  "id": "subattendanceadmin",
  "name": "Shepherd · 👥 Today's Attendance (admin)",
  "nodes": [
    {
      "id": "b1c2d3e4-7020-7020-7020-000000007020",
      "name": "On Parent Call",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "a1b2c3d4-0161-0161-0161-000000000161",
      "name": "Code: Format Attendance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        0
      ],
      "parameters": {
        "jsCode": "const ctx = $('On Parent Call').first().json;\nconst rows = $input.all().map(i=>i.json).filter(r=>r.driver_id);\nlet lines = ['👥 נוכחות היום\\n━━━━━━━━━━━━━━━━'];\nif (rows.length===0) lines.push('אין נתוני נוכחות להיום.');\nelse rows.forEach(r=>{\n  const ci=r.clock_in||'--:--';\n  const co=r.clock_out;\n  lines.push(`${co?'✅':'⏳'} ${r.driver_name||'—'}: ${ci}${co?` - ${co}`:''}`);\n});\nreturn [{ json: { ...ctx, attendanceText: lines.join('\\n') } }];"
      }
    },
    {
      "id": "a1b2c3d4-0162-0162-0162-000000000162",
      "name": "HTTP: Send Attendance Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.attendanceText, parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "a1b2c3d4-6009-6009-6009-000000006009",
      "name": "HTTP: GET Attendance Today",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FLEET_API_URL }}/attendance/today",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "b1c2d3e4-7021-7021-7021-000000007021",
      "name": "Note 7021",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -150
      ],
      "parameters": {
        "content": "## 👥 Today's Attendance (admin)\n\nOne-shot. `GET /attendance/today` (joined names), formats present/absent, sends.\n\n**Routes:** `cmd_admin_attendance`",
        "height": 120,
        "width": 900,
        "color": 7
      }
    }
  ],
  "connections": {
    "Code: Format Attendance": {
      "main": [
        [
          {
            "node": "HTTP: Send Attendance Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: GET Attendance Today": {
      "main": [
        [
          {
            "node": "Code: Format Attendance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Parent Call": {
      "main": [
        [
          {
            "node": "HTTP: GET Attendance Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}