services/n8n/workflows/sub-accident.json
{
  "id": "subaccident",
  "name": "Shepherd · 🚨 Accident Protocol",
  "nodes": [
    {
      "id": "b1c2d3e4-7004-7004-7004-000000007004",
      "name": "On Parent Call",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "a1b2c3d4-0144-0144-0144-000000000144",
      "name": "HTTP: S3 Upload Car License",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        1200
      ],
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('Code: Build S3 Key Car License').first().json.s3Bucket }}.s3.{{ $('Code: Build S3 Key Car License').first().json.s3Region }}.amazonaws.com/{{ $('Code: Build S3 Key Car License').first().json.s3Key }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "aws"
      },
      "credentials": {
        "aws": {
          "id": "shepherdawscred",
          "name": "Shepherd AWS"
        }
      }
    },
    {
      "id": "a1b2c3d4-0103-0103-0103-000000000103",
      "name": "HTTP: Download TG File Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        400
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.tgFileUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0120-0120-0120-000000000120",
      "name": "Code: Handle Insurance Photo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        800
      ],
      "parameters": {
        "jsCode": "const ctx = $('On Parent Call').first().json;\nconst fileId = ctx.photo?.file_id;\nreturn [{ json: { ...ctx, fileId, category: 'another_driver_insurance', nextStep: 'awaiting_driver_license_photo', fileExt: 'jpg' } }];"
      }
    },
    {
      "id": "a1b2c3d4-0142-0142-0142-000000000142",
      "name": "Code: Build S3 Key Car License",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        1200
      ],
      "parameters": {
        "jsCode": "const ctx = $('Code: Handle Car License Photo').first().json;\nconst fileResult = $input.first().json;\nconst filePath = fileResult.result?.file_path || fileResult.file_path;\nconst ext = filePath.split('.').pop() || 'jpg';\nconst s3Key = `accidents/${ctx.chatId}/${ctx.category}.${ext}`;\nconst tgFileUrl = `https://api.telegram.org/file/bot${process.env.TELEGRAM_BOT_TOKEN}/${filePath}`;\nconst s3Bucket = process.env.S3_BUCKET || 'shepherd-accidents';\nconst s3Region = process.env.AWS_REGION || 'us-east-1';\nconst fileUrl = `https://${s3Bucket}.s3.${s3Region}.amazonaws.com/${s3Key}`;\nreturn [{ json: { ...ctx, filePath, s3Key, tgFileUrl, fileUrl, s3Bucket, s3Region } }];"
      }
    },
    {
      "id": "a1b2c3d4-0125-0125-0125-000000000125",
      "name": "Postgres: Save Insurance Attachment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1500,
        800
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_sessions SET state = jsonb_set(state, '{step}', '\"awaiting_driver_license_photo\"') || jsonb_build_object('attachments', COALESCE(state->'attachments', '[]'::jsonb) || jsonb_build_array(jsonb_build_object('category', $2, 'file_url', $3))), updated_at = NOW() WHERE chat_id = $1",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: Handle Insurance Photo').first().json.chatId, $('Code: Handle Insurance Photo').first().json.category, $('Code: Build S3 Key Insurance').first().json.fileUrl]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "shepherddbcred",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-0110-0110-0110-000000000110",
      "name": "Postgres: Accident Road Clear Step",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        300,
        600
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_sessions SET state = jsonb_set(state, '{step}', '\"awaiting_insurance_photo\"'), updated_at = NOW() WHERE chat_id = $1",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$json.chatId]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "shepherddbcred",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-0105-0105-0105-000000000105",
      "name": "Postgres: Save Video Attachment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1500,
        400
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_sessions SET state = jsonb_set(state, '{step}', '\"awaiting_vehicle_clear\"') || jsonb_build_object('attachments', COALESCE(state->'attachments', '[]'::jsonb) || jsonb_build_array(jsonb_build_object('category', $2, 'file_url', $3))), updated_at = NOW() WHERE chat_id = $1",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: Handle Accident Video').first().json.chatId, $('Code: Handle Accident Video').first().json.category, $('Code: Build S3 Key Video').first().json.fileUrl]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "shepherddbcred",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-0131-0131-0131-000000000131",
      "name": "HTTP: TG GetFile Driver License",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        1000
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/getFile?file_id={{ $json.fileId }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0102-0102-0102-000000000102",
      "name": "Code: Build S3 Key Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        400
      ],
      "parameters": {
        "jsCode": "const ctx = $('Code: Handle Accident Video').first().json;\nconst fileResult = $input.first().json;\nconst filePath = fileResult.result?.file_path || fileResult.file_path;\nconst ext = ctx.fileExt || filePath.split('.').pop();\nconst state = ctx.sessionState || {};\nconst s3Key = `accidents/${ctx.chatId}/${ctx.category}.${ext}`;\nconst tgFileUrl = `https://api.telegram.org/file/bot${process.env.TELEGRAM_BOT_TOKEN}/${filePath}`;\nconst s3Bucket = process.env.S3_BUCKET || 'shepherd-accidents';\nconst s3Region = process.env.AWS_REGION || 'us-east-1';\nconst fileUrl = `https://${s3Bucket}.s3.${s3Region}.amazonaws.com/${s3Key}`;\nreturn [{ json: { ...ctx, filePath, s3Key, tgFileUrl, fileUrl, s3Bucket, s3Region } }];"
      }
    },
    {
      "id": "a1b2c3d4-0090-0090-0090-000000000090",
      "name": "Postgres: Accident Safe - Update Step",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        300,
        200
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_sessions SET state = state || $2::jsonb, updated_at = NOW() WHERE chat_id = $1",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$json.chatId, JSON.stringify({step:'awaiting_video'})]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "shepherddbcred",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-0153-0153-0153-000000000153",
      "name": "Code: Notify Admins Accident",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        1400
      ],
      "parameters": {
        "jsCode": "const ctx = $('On Parent Call').first().json;\nconst adminsResult = $input.first().json;\nconst admins = Array.isArray(adminsResult) ? adminsResult : (adminsResult.items || []);\nconst now = new Date();\nconst israelOffset = 3 * 60;\nconst israelTime = new Date(now.getTime() + israelOffset * 60000);\nconst datetimeStr = israelTime.toISOString().replace('T', ' ').slice(0, 16);\nconst driverName = ctx.whoami?.driver_name || ctx.whoami?.full_name || 'לא ידוע';\nconst notifications = admins.filter(a => a.telegram_chat_id).map(a => ({\n  chat_id: a.telegram_chat_id,\n  text: `🚨 דיווח תאונה חדש\\n\\nנהג: ${driverName}\\nזמן: ${datetimeStr}`,\n  parse_mode: 'HTML'\n}));\nreturn notifications.map(n => ({ json: { notification: n, token: process.env.TELEGRAM_BOT_TOKEN } }));"
      }
    },
    {
      "id": "a1b2c3d4-0132-0132-0132-000000000132",
      "name": "Code: Build S3 Key Driver License",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        1000
      ],
      "parameters": {
        "jsCode": "const ctx = $('Code: Handle Driver License Photo').first().json;\nconst fileResult = $input.first().json;\nconst filePath = fileResult.result?.file_path || fileResult.file_path;\nconst ext = filePath.split('.').pop() || 'jpg';\nconst s3Key = `accidents/${ctx.chatId}/${ctx.category}.${ext}`;\nconst tgFileUrl = `https://api.telegram.org/file/bot${process.env.TELEGRAM_BOT_TOKEN}/${filePath}`;\nconst s3Bucket = process.env.S3_BUCKET || 'shepherd-accidents';\nconst s3Region = process.env.AWS_REGION || 'us-east-1';\nconst fileUrl = `https://${s3Bucket}.s3.${s3Region}.amazonaws.com/${s3Key}`;\nreturn [{ json: { ...ctx, filePath, s3Key, tgFileUrl, fileUrl, s3Bucket, s3Region } }];"
      }
    },
    {
      "id": "a1b2c3d4-0151-0151-0151-000000000151",
      "name": "HTTP: Send Accident Complete to Driver",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        1400
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('On Parent Call').first().json.chatId, text: '✅ דיווח התאונה הושלם.\\nהמנהלים קיבלו עדכון.', parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0106-0106-0106-000000000106",
      "name": "HTTP: Send Awaiting Road Clear",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: Handle Accident Video').first().json.chatId, text: '✅ הסרטון התקבל.\\n\\n🚗 כעת פנה/י את הכביש בצורה בטוחה\\n   והזז/י את הרכב לצד.\\n\\nכשהכביש פנוי:', parse_mode: 'HTML', reply_markup: { inline_keyboard: [[{text:'✅ הכביש פנוי', callback_data:'accident_road_clear'}]] } }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0150-0150-0150-000000000150",
      "name": "Postgres: Clear Accident Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        300,
        1400
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM bot_sessions WHERE chat_id = $1",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$json.chatId]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "shepherddbcred",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-0134-0134-0134-000000000134",
      "name": "HTTP: S3 Upload Driver License",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        1000
      ],
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('Code: Build S3 Key Driver License').first().json.s3Bucket }}.s3.{{ $('Code: Build S3 Key Driver License').first().json.s3Region }}.amazonaws.com/{{ $('Code: Build S3 Key Driver License').first().json.s3Key }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "aws"
      },
      "credentials": {
        "aws": {
          "id": "shepherdawscred",
          "name": "Shepherd AWS"
        }
      }
    },
    {
      "id": "a1b2c3d4-0111-0111-0111-000000000111",
      "name": "HTTP: Send Awaiting Insurance Photo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        600
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('On Parent Call').first().json.chatId, text: '📸 צלם/י את מסמך הביטוח של הצד השני', parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0071-0071-0071-000000000071",
      "name": "Code: Start Accident Flow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        0
      ],
      "parameters": {
        "jsCode": "const ctx = $('On Parent Call').first().json;\nconst vehicleResult = $input.first().json;\nconst vehicles = Array.isArray(vehicleResult) ? vehicleResult : (vehicleResult.items || [vehicleResult]);\nconst vehicle = vehicles[0];\nif (!vehicle || !vehicle.vehicle_id) {\n  return [{ json: { ...ctx, errorMsg: 'לא נמצא רכב משויך לחשבונך.' } }];\n}\nconst now = new Date();\nconst israelOffset = 3 * 60;\nconst israelTime = new Date(now.getTime() + israelOffset * 60000);\nconst datetimeStr = israelTime.toISOString().replace('T', ' ').slice(0, 16);\nreturn [{ json: { ...ctx, vehicleId: vehicle.vehicle_id, accidentDatetime: datetimeStr, hasVehicle: true } }];"
      }
    },
    {
      "id": "a1b2c3d4-0148-0148-0148-000000000148",
      "name": "HTTP: Send Awaiting Manager Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        1200
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: Handle Car License Photo').first().json.chatId, text: '📞 צור/י קשר עם המנהל שלך עכשיו\\n   ופעל/י לפי הנחיותיו.\\n\\nכשסיימת לדבר:', parse_mode: 'HTML', reply_markup: { inline_keyboard: [[{text:'✅ דיברתי עם המנהל', callback_data:'accident_manager_called'}]] } }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0124-0124-0124-000000000124",
      "name": "HTTP: S3 Upload Insurance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        800
      ],
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('Code: Build S3 Key Insurance').first().json.s3Bucket }}.s3.{{ $('Code: Build S3 Key Insurance').first().json.s3Region }}.amazonaws.com/{{ $('Code: Build S3 Key Insurance').first().json.s3Key }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "aws"
      },
      "credentials": {
        "aws": {
          "id": "shepherdawscred",
          "name": "Shepherd AWS"
        }
      }
    },
    {
      "id": "a1b2c3d4-0146-0146-0146-000000000146",
      "name": "Code: Prepare Accident POST",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        1200
      ],
      "parameters": {
        "jsCode": "const ctx = $('Code: Handle Car License Photo').first().json;\nconst stateRow = $input.first().json;\nconst state = (typeof stateRow.state === 'string') ? JSON.parse(stateRow.state) : stateRow.state;\nconst now = new Date();\nconst israelOffset = 3 * 60;\nconst israelTime = new Date(now.getTime() + israelOffset * 60000);\nconst datetimeStr = israelTime.toISOString();\nreturn [{ json: { ...ctx, accidentPayload: { vehicle_id: state.vehicleId || ctx.sessionState?.vehicleId, datetime: state.accidentDatetime || datetimeStr, location: null, description: null, attachments: state.attachments || [] } } }];"
      }
    },
    {
      "id": "a1b2c3d4-0123-0123-0123-000000000123",
      "name": "HTTP: Download TG File Insurance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        800
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.tgFileUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0101-0101-0101-000000000101",
      "name": "HTTP: TG GetFile Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        400
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/getFile?file_id={{ $json.fileId }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0152-0152-0152-000000000152",
      "name": "HTTP: GET Admins for Accident Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        1400
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FLEET_API_URL }}/users?role=admin",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0073-0073-0073-000000000073",
      "name": "HTTP: Send Accident Step 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: Start Accident Flow').first().json.chatId, text: '🚨 דיווח תאונה\\n\\nקודם כל - תירגע/י. 🫁\\nשתה/י מים, נשום/י עמוק.\\n\\n📍 עצור/י במקום בטוח בצד הדרך.\\n🚫 אל תזיז/י את הרכב עדיין!\\n\\nכשאת/ה במקום בטוח ועצרת, לחץ/י להמשך:', parse_mode: 'HTML', reply_markup: { inline_keyboard: [[{text:'✅ אני במקום בטוח ועצרתי', callback_data:'accident_safe'}]] } }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0121-0121-0121-000000000121",
      "name": "HTTP: TG GetFile Insurance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        800
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/getFile?file_id={{ $json.fileId }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0136-0136-0136-000000000136",
      "name": "HTTP: Send Awaiting Car License",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        1000
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: Handle Driver License Photo').first().json.chatId, text: '📸 צלם/י את רישיון הרכב של הצד השני', parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0104-0104-0104-000000000104",
      "name": "HTTP: S3 Upload Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        400
      ],
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('Code: Build S3 Key Video').first().json.s3Bucket }}.s3.{{ $('Code: Build S3 Key Video').first().json.s3Region }}.amazonaws.com/{{ $('Code: Build S3 Key Video').first().json.s3Key }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "authentication": "predefinedCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "nodeCredentialType": "aws"
      },
      "credentials": {
        "aws": {
          "id": "shepherdawscred",
          "name": "Shepherd AWS"
        }
      }
    },
    {
      "id": "a1b2c3d4-0147-0147-0147-000000000147",
      "name": "HTTP: POST Create Accident",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        1200
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FLEET_API_URL }}/accidents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "={{ JSON.stringify({role: 'driver', driver_id: $('On Parent Call').first().json.whoami?.driver_id}) }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($('Code: Prepare Accident POST').first().json.accidentPayload) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0070-0070-0070-000000000070",
      "name": "HTTP: GET Driver Vehicle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FLEET_API_URL }}/vehicles?driver_id={{ $json.whoami.driver_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0140-0140-0140-000000000140",
      "name": "Code: Handle Car License Photo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        1200
      ],
      "parameters": {
        "jsCode": "const ctx = $('On Parent Call').first().json;\nconst fileId = ctx.photo?.file_id;\nreturn [{ json: { ...ctx, fileId, category: 'another_car_registration', nextStep: 'awaiting_manager_call', fileExt: 'jpg' } }];"
      }
    },
    {
      "id": "a1b2c3d4-0091-0091-0091-000000000091",
      "name": "HTTP: Send Awaiting Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('On Parent Call').first().json.chatId, text: '📹 כעת צלם/י סרטון של האירוע.\\n\\nבסרטון:\\n- הסבר/י מה קרה בתאונה\\n- הראה/י את אזור התאונה\\n- הראה/י את כל הרכבים המעורבים\\n- הראה/י את הנזק לרכב שלך\\n\\nשלח/י את הסרטון כאן:', parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0133-0133-0133-000000000133",
      "name": "HTTP: Download TG File Driver License",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        1000
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.tgFileUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0141-0141-0141-000000000141",
      "name": "HTTP: TG GetFile Car License",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        1200
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/getFile?file_id={{ $json.fileId }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0135-0135-0135-000000000135",
      "name": "Postgres: Save Driver License Attachment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1500,
        1000
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_sessions SET state = jsonb_set(state, '{step}', '\"awaiting_car_license_photo\"') || jsonb_build_object('attachments', COALESCE(state->'attachments', '[]'::jsonb) || jsonb_build_array(jsonb_build_object('category', $2, 'file_url', $3))), updated_at = NOW() WHERE chat_id = $1",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: Handle Driver License Photo').first().json.chatId, $('Code: Handle Driver License Photo').first().json.category, $('Code: Build S3 Key Driver License').first().json.fileUrl]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "shepherddbcred",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-0143-0143-0143-000000000143",
      "name": "HTTP: Download TG File Car License",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        1200
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.tgFileUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0154-0154-0154-000000000154",
      "name": "HTTP: Send Accident Notify to Each Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        1400
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json.notification) }}"
      }
    },
    {
      "id": "a1b2c3d4-0130-0130-0130-000000000130",
      "name": "Code: Handle Driver License Photo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        1000
      ],
      "parameters": {
        "jsCode": "const ctx = $('On Parent Call').first().json;\nconst fileId = ctx.photo?.file_id;\nreturn [{ json: { ...ctx, fileId, category: 'another_driver_license', nextStep: 'awaiting_car_license_photo', fileExt: 'jpg' } }];"
      }
    },
    {
      "id": "a1b2c3d4-0145-0145-0145-000000000145",
      "name": "Postgres: Save Car License and Submit Accident",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1500,
        1200
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_sessions SET state = jsonb_set( jsonb_set(state, '{step}', '\"awaiting_manager_call\"'), '{attachments}', COALESCE(state->'attachments', '[]'::jsonb) || jsonb_build_array(jsonb_build_object('category', $2, 'file_url', $3)) ), updated_at = NOW() WHERE chat_id = $1 RETURNING state",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: Handle Car License Photo').first().json.chatId, $('Code: Handle Car License Photo').first().json.category, $('Code: Build S3 Key Car License').first().json.fileUrl]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "shepherddbcred",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-0122-0122-0122-000000000122",
      "name": "Code: Build S3 Key Insurance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        800
      ],
      "parameters": {
        "jsCode": "const ctx = $('Code: Handle Insurance Photo').first().json;\nconst fileResult = $input.first().json;\nconst filePath = fileResult.result?.file_path || fileResult.file_path;\nconst ext = filePath.split('.').pop() || 'jpg';\nconst s3Key = `accidents/${ctx.chatId}/${ctx.category}.${ext}`;\nconst tgFileUrl = `https://api.telegram.org/file/bot${process.env.TELEGRAM_BOT_TOKEN}/${filePath}`;\nconst s3Bucket = process.env.S3_BUCKET || 'shepherd-accidents';\nconst s3Region = process.env.AWS_REGION || 'us-east-1';\nconst fileUrl = `https://${s3Bucket}.s3.${s3Region}.amazonaws.com/${s3Key}`;\nreturn [{ json: { ...ctx, filePath, s3Key, tgFileUrl, fileUrl, s3Bucket, s3Region } }];"
      }
    },
    {
      "id": "a1b2c3d4-0126-0126-0126-000000000126",
      "name": "HTTP: Send Awaiting Driver License",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        800
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: Handle Insurance Photo').first().json.chatId, text: '📸 צלם/י את רישיון הנהיגה של הצד השני', parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0100-0100-0100-000000000100",
      "name": "Code: Handle Accident Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        400
      ],
      "parameters": {
        "jsCode": "const ctx = $('On Parent Call').first().json;\nconst state = ctx.sessionState || {};\nconst fileId = ctx.video?.file_id;\nreturn [{ json: { ...ctx, fileId, category: 'accident_video', nextStep: 'awaiting_vehicle_clear', fileExt: 'mp4' } }];"
      }
    },
    {
      "id": "a1b2c3d4-0072-0072-0072-000000000072",
      "name": "Postgres: Save Accident Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        780,
        0
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_sessions (chat_id, state, updated_at) VALUES ($1, $2::jsonb, NOW()) ON CONFLICT (chat_id) DO UPDATE SET state = $2::jsonb, updated_at = NOW()",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$json.chatId, JSON.stringify({flow:'accident', step:'awaiting_safe', vehicleId: $json.vehicleId, accidentDatetime: $json.accidentDatetime, attachments:[]})]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "shepherddbcred",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "b1c2d3e4-7005-7005-7005-000000007005",
      "name": "Switch: Step",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        120,
        0
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cmd_accident",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "0",
              "renameOutput": true,
              "outputKeyName": "cmd_accident"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "accident_safe",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "1",
              "renameOutput": true,
              "outputKeyName": "accident_safe"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "accident_video",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "2",
              "renameOutput": true,
              "outputKeyName": "accident_video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "accident_road_clear",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "3",
              "renameOutput": true,
              "outputKeyName": "accident_road_clear"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "accident_insurance_photo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "4",
              "renameOutput": true,
              "outputKeyName": "accident_insurance_photo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "accident_driver_license",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "5",
              "renameOutput": true,
              "outputKeyName": "accident_driver_license"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "accident_car_license",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "6",
              "renameOutput": true,
              "outputKeyName": "accident_car_license"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "accident_complete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "7",
              "renameOutput": true,
              "outputKeyName": "accident_complete"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b1c2d3e4-7006-7006-7006-000000007006",
      "name": "Note 7006",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -150
      ],
      "parameters": {
        "content": "## 🚨 Accident Protocol\n\n8-step state machine in `bot_sessions`. calm → video→S3 → road clear → 3 doc photos→S3 → `POST /accidents` → manager call → clear session + DM all admins. Switch:Step routes by the resumed step.\n\n**Routes:** `cmd_accident`, `accident_safe`, `accident_video`, `accident_road_clear`, `accident_insurance_photo`, `accident_driver_license`, `accident_car_license`, `accident_complete`",
        "height": 120,
        "width": 900,
        "color": 7
      }
    }
  ],
  "connections": {
    "HTTP: S3 Upload Car License": {
      "main": [
        [
          {
            "node": "Postgres: Save Car License and Submit Accident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Download TG File Video": {
      "main": [
        [
          {
            "node": "HTTP: S3 Upload Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Handle Insurance Photo": {
      "main": [
        [
          {
            "node": "HTTP: TG GetFile Insurance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build S3 Key Car License": {
      "main": [
        [
          {
            "node": "HTTP: Download TG File Car License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Save Insurance Attachment": {
      "main": [
        [
          {
            "node": "HTTP: Send Awaiting Driver License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Accident Road Clear Step": {
      "main": [
        [
          {
            "node": "HTTP: Send Awaiting Insurance Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Save Video Attachment": {
      "main": [
        [
          {
            "node": "HTTP: Send Awaiting Road Clear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: TG GetFile Driver License": {
      "main": [
        [
          {
            "node": "Code: Build S3 Key Driver License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build S3 Key Video": {
      "main": [
        [
          {
            "node": "HTTP: Download TG File Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Accident Safe - Update Step": {
      "main": [
        [
          {
            "node": "HTTP: Send Awaiting Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Notify Admins Accident": {
      "main": [
        [
          {
            "node": "HTTP: Send Accident Notify to Each Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build S3 Key Driver License": {
      "main": [
        [
          {
            "node": "HTTP: Download TG File Driver License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Send Accident Complete to Driver": {
      "main": [
        [
          {
            "node": "HTTP: GET Admins for Accident Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Clear Accident Session": {
      "main": [
        [
          {
            "node": "HTTP: Send Accident Complete to Driver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: S3 Upload Driver License": {
      "main": [
        [
          {
            "node": "Postgres: Save Driver License Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Start Accident Flow": {
      "main": [
        [
          {
            "node": "Postgres: Save Accident Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: S3 Upload Insurance": {
      "main": [
        [
          {
            "node": "Postgres: Save Insurance Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Accident POST": {
      "main": [
        [
          {
            "node": "HTTP: POST Create Accident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Download TG File Insurance": {
      "main": [
        [
          {
            "node": "HTTP: S3 Upload Insurance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: TG GetFile Video": {
      "main": [
        [
          {
            "node": "Code: Build S3 Key Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: GET Admins for Accident Notify": {
      "main": [
        [
          {
            "node": "Code: Notify Admins Accident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: TG GetFile Insurance": {
      "main": [
        [
          {
            "node": "Code: Build S3 Key Insurance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: S3 Upload Video": {
      "main": [
        [
          {
            "node": "Postgres: Save Video Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: POST Create Accident": {
      "main": [
        [
          {
            "node": "HTTP: Send Awaiting Manager Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: GET Driver Vehicle": {
      "main": [
        [
          {
            "node": "Code: Start Accident Flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Handle Car License Photo": {
      "main": [
        [
          {
            "node": "HTTP: TG GetFile Car License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Download TG File Driver License": {
      "main": [
        [
          {
            "node": "HTTP: S3 Upload Driver License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: TG GetFile Car License": {
      "main": [
        [
          {
            "node": "Code: Build S3 Key Car License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Save Driver License Attachment": {
      "main": [
        [
          {
            "node": "HTTP: Send Awaiting Car License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Download TG File Car License": {
      "main": [
        [
          {
            "node": "HTTP: S3 Upload Car License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Handle Driver License Photo": {
      "main": [
        [
          {
            "node": "HTTP: TG GetFile Driver License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Save Car License and Submit Accident": {
      "main": [
        [
          {
            "node": "Code: Prepare Accident POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build S3 Key Insurance": {
      "main": [
        [
          {
            "node": "HTTP: Download TG File Insurance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Handle Accident Video": {
      "main": [
        [
          {
            "node": "HTTP: TG GetFile Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Save Accident Session": {
      "main": [
        [
          {
            "node": "HTTP: Send Accident Step 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Parent Call": {
      "main": [
        [
          {
            "node": "Switch: Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Step": {
      "main": [
        [
          {
            "node": "HTTP: GET Driver Vehicle",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres: Accident Safe - Update Step",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Handle Accident Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres: Accident Road Clear Step",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Handle Insurance Photo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Handle Driver License Photo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Handle Car License Photo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres: Clear Accident Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}