services/n8n/workflows/sub-my-vehicle.json
{
  "id": "submyvehicle",
  "name": "Shepherd 路 馃殫 My Vehicle",
  "nodes": [
    {
      "id": "b1c2d3e4-7009-7009-7009-000000007009",
      "name": "On Parent Call",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "a1b2c3d4-1001-1001-1001-000000001001",
      "name": "HTTP: GET My Vehicle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FLEET_API_URL }}/vehicles?driver_id={{ $json.whoami.driver_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1002-1002-1002-000000001002",
      "name": "Code: Format My Vehicle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        0
      ],
      "parameters": {
        "jsCode": "const ctx = $('On Parent Call').first().json;\nconst res = $input.first().json;\nconst arr = Array.isArray(res) ? res : (res.items || [res]);\nconst v = arr[0];\nlet text;\nif (!v || !v.vehicle_id) text = '馃殫 诇讗 谞诪爪讗 专讻讘 诪砖讜讬讱 诇讞砖讘讜谞讱.';\nelse text = `馃殫 讛专讻讘 砖诇讱\\n鈹佲攣鈹佲攣鈹佲攣鈹佲攣鈹佲攣鈹佲攣鈹佲攣鈹佲攣\\n\\n讬爪专谉: ${v.vendor||'-'}\\n讚讙诐: ${v.model||'-'}\\n诇讜讞讬转: ${v.licensing_plate||'-'}\\n住讜讙: ${v.vehicle_type||'-'}\\n拽\"诪 谞讜讻讞讬: ${v.current_km??'-'}`;\nreturn [{ json: { chatId: ctx.chatId, text } }];"
      }
    },
    {
      "id": "a1b2c3d4-1003-1003-1003-000000001003",
      "name": "HTTP: Send My Vehicle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.text, parse_mode:'HTML' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "b1c2d3e4-7010-7010-7010-000000007010",
      "name": "Note 7010",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -150
      ],
      "parameters": {
        "content": "## 馃殫 My Vehicle\n\nOne-shot. `GET /vehicles?driver_id=`, formats the assigned vehicle card, sends it.\n\n**Routes:** `cmd_my_vehicle`",
        "height": 120,
        "width": 900,
        "color": 7
      }
    }
  ],
  "connections": {
    "HTTP: GET My Vehicle": {
      "main": [
        [
          {
            "node": "Code: Format My Vehicle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Format My Vehicle": {
      "main": [
        [
          {
            "node": "HTTP: Send My Vehicle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Parent Call": {
      "main": [
        [
          {
            "node": "HTTP: GET My Vehicle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}