services/n8n/workflows/sub-fleet-summary.json
{
  "id": "subfleetsummary",
  "name": "Shepherd · 📈 Fleet Summary (admin)",
  "nodes": [
    {
      "id": "b1c2d3e4-7022-7022-7022-000000007022",
      "name": "On Parent Call",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "a1b2c3d4-0170-0170-0170-000000000170",
      "name": "HTTP: GET Fleet KPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FLEET_API_URL }}/kpi/latest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0171-0171-0171-000000000171",
      "name": "Code: Format Fleet Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        0
      ],
      "parameters": {
        "jsCode": "const ctx = $('On Parent Call').first().json;\nconst kpi = $input.first().json;\nconst activeDrivers = kpi.active_drivers ?? kpi.drivers_clocked_in ?? 'N/A';\nconst activeVehicles = kpi.active_vehicles ?? kpi.vehicles_in_use ?? 'N/A';\nconst text = `🚗 סיכום צי\\n━━━━━━━━━━━━━━━━\\n\\nנהגים מחוברים: ${activeDrivers}\\nרכבים פעילים: ${activeVehicles}`;\nreturn [{ json: { ...ctx, summaryText: text } }];"
      }
    },
    {
      "id": "a1b2c3d4-0172-0172-0172-000000000172",
      "name": "HTTP: Send Fleet Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.summaryText, parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "b1c2d3e4-7023-7023-7023-000000007023",
      "name": "Note 7023",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -150
      ],
      "parameters": {
        "content": "## 📈 Fleet Summary (admin)\n\nOne-shot. `GET /kpi/latest`, formats active drivers/vehicles, sends.\n\n**Routes:** `cmd_admin_summary`",
        "height": 120,
        "width": 900,
        "color": 7
      }
    }
  ],
  "connections": {
    "HTTP: GET Fleet KPI": {
      "main": [
        [
          {
            "node": "Code: Format Fleet Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Format Fleet Summary": {
      "main": [
        [
          {
            "node": "HTTP: Send Fleet Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Parent Call": {
      "main": [
        [
          {
            "node": "HTTP: GET Fleet KPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}