services/n8n/workflows/sub-vehicle-issue.json
{
  "id": "subvehicleissue",
  "name": "Shepherd · 🔧 Report Vehicle Issue",
  "nodes": [
    {
      "id": "b1c2d3e4-7011-7011-7011-000000007011",
      "name": "On Parent Call",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "a1b2c3d4-1008-1008-1008-000000001008",
      "name": "HTTP: Send VehicleIssue Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('On Parent Call').first().json.chatId, text: '🔧 דיווח תקלה\\n\\nתאר/י את התקלה ברכב (טקסט חופשי):', parse_mode:'HTML' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1009-1009-1009-000000001009",
      "name": "HTTP: GET Issue Vehicle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        200
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FLEET_API_URL }}/vehicles?driver_id={{ $json.whoami.driver_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1010-1010-1010-000000001010",
      "name": "Code: Prepare Issue Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        200
      ],
      "parameters": {
        "jsCode": "const ctx = $('On Parent Call').first().json;\nconst res = $input.first().json;\nconst arr = Array.isArray(res)?res:(res.items||[res]);\nconst v = arr[0];\nreturn [{ json: { chatId: ctx.chatId, vehicleId: (v&&v.vehicle_id)||null, message: ctx.text||'' } }];"
      }
    },
    {
      "id": "a1b2c3d4-1007-1007-1007-000000001007",
      "name": "Postgres: Set VehicleIssue Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        300,
        0
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_sessions (chat_id, state, updated_at) VALUES ($1, $2::jsonb, NOW()) ON CONFLICT (chat_id) DO UPDATE SET state=$2::jsonb, updated_at=NOW()",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$json.chatId, JSON.stringify({flow:'vehicle_issue', step:'awaiting_description'})]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "shepherddbcred",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "a1b2c3d4-1011-1011-1011-000000001011",
      "name": "HTTP: POST Issue Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FLEET_API_URL }}/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ vehicle_id: $json.vehicleId, event_type:'warning', severity:'warning', message: 'תקלה מהנהג: ' + $json.message, source_type:'telegram' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1013-1013-1013-000000001013",
      "name": "HTTP: Send Issue Confirm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $('Code: Prepare Issue Event').first().json.chatId, text: '✅ התקלה נרשמה. תודה!', parse_mode:'HTML' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-1012-1012-1012-000000001012",
      "name": "Postgres: Clear VehicleIssue Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1020,
        200
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM bot_sessions WHERE chat_id = $1",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$('Code: Prepare Issue Event').first().json.chatId]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "shepherddbcred",
          "name": "Shepherd DB"
        }
      }
    },
    {
      "id": "b1c2d3e4-7012-7012-7012-000000007012",
      "name": "Switch: Step",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        120,
        0
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cmd_vehicle_issue",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "0",
              "renameOutput": true,
              "outputKeyName": "cmd_vehicle_issue"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "vehicle_issue_text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "1",
              "renameOutput": true,
              "outputKeyName": "vehicle_issue_text"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b1c2d3e4-7013-7013-7013-000000007013",
      "name": "Note 7013",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -150
      ],
      "parameters": {
        "content": "## 🔧 Report Vehicle Issue\n\n2-step. Prompt for free-text fault → `POST /events` (warning, source telegram) on the driver vehicle → confirm.\n\n**Routes:** `cmd_vehicle_issue`, `vehicle_issue_text`",
        "height": 120,
        "width": 900,
        "color": 7
      }
    }
  ],
  "connections": {
    "HTTP: GET Issue Vehicle": {
      "main": [
        [
          {
            "node": "Code: Prepare Issue Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Issue Event": {
      "main": [
        [
          {
            "node": "HTTP: POST Issue Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Set VehicleIssue Session": {
      "main": [
        [
          {
            "node": "HTTP: Send VehicleIssue Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: POST Issue Event": {
      "main": [
        [
          {
            "node": "Postgres: Clear VehicleIssue Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Clear VehicleIssue Session": {
      "main": [
        [
          {
            "node": "HTTP: Send Issue Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Parent Call": {
      "main": [
        [
          {
            "node": "Switch: Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Step": {
      "main": [
        [
          {
            "node": "Postgres: Set VehicleIssue Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: GET Issue Vehicle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}