services/n8n/workflows/sub-broadcast.json
{
  "id": "subbroadcast",
  "name": "Shepherd · 📢 Broadcast (admin)",
  "nodes": [
    {
      "id": "b1c2d3e4-7017-7017-7017-000000007017",
      "name": "On Parent Call",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "a1b2c3d4-0210-0210-0210-000000000210",
      "name": "Postgres: Clear Broadcast Cancel Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        300,
        600
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM bot_sessions WHERE chat_id = $1",
        "options": {
          "queryReplacement": "={{ [$json.chatId] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "shepherddbcred",
          "name": "Shepherd DB"
        }
      },
      "alwaysOutputData": true
    },
    {
      "id": "a1b2c3d4-0193-0193-0193-000000000193",
      "name": "HTTP: Send Broadcast Confirm Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Code: Prepare Broadcast Confirm').first().json.chatId, text: `שולח ל-${$('Code: Prepare Broadcast Confirm').first().json.driverCount} נהגים - אישור?`, parse_mode: 'HTML', reply_markup: { inline_keyboard: [[{text:'✅ שלח', callback_data:'broadcast_confirm'},{text:'❌ ביטול', callback_data:'broadcast_cancel'}]] } }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0180-0180-0180-000000000180",
      "name": "Postgres: Set Broadcast Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        300,
        0
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_sessions (chat_id, state, updated_at) VALUES ($1, $2::jsonb, NOW()) ON CONFLICT (chat_id) DO UPDATE SET state = $2::jsonb, updated_at = NOW()",
        "options": {
          "queryReplacement": "={{ [$json.chatId, JSON.stringify({flow:'broadcast', step:'awaiting_message'})] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "shepherddbcred",
          "name": "Shepherd DB"
        }
      },
      "alwaysOutputData": true
    },
    {
      "id": "a1b2c3d4-0203-0203-0203-000000000203",
      "name": "HTTP: Send Broadcast Sent Confirm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('On Parent Call').first().json.chatId, text: '✅ ההודעה נשלחה.', parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0190-0190-0190-000000000190",
      "name": "HTTP: GET Drivers for Broadcast",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        200
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FLEET_API_URL }}/users?role=driver",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_SERVICE_TOKEN }}"
            },
            {
              "name": "X-Caller-Context",
              "value": "{\"role\":\"admin\"}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0211-0211-0211-000000000211",
      "name": "HTTP: Send Broadcast Cancelled",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        600
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('On Parent Call').first().json.chatId, text: '❌ השידור בוטל.', parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0192-0192-0192-000000000192",
      "name": "Postgres: Save Broadcast State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        780,
        200
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_sessions SET state = $2::jsonb, updated_at = NOW() WHERE chat_id = $1",
        "options": {
          "queryReplacement": "={{ [$json.chatId, JSON.stringify({flow:'broadcast', step:'awaiting_confirm', message: $json.broadcastMsg, count: $json.driverCount, drivers: $json.drivers})] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "shepherddbcred",
          "name": "Shepherd DB"
        }
      },
      "alwaysOutputData": true
    },
    {
      "id": "a1b2c3d4-0201-0201-0201-000000000201",
      "name": "HTTP: Send Broadcast Message to Each Driver",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.recipientChatId, text: $json.broadcastMsg, parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0202-0202-0202-000000000202",
      "name": "Postgres: Clear Broadcast Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        780,
        400
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM bot_sessions WHERE chat_id = $1",
        "options": {
          "queryReplacement": "={{ [$('On Parent Call').first().json.chatId] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "shepherddbcred",
          "name": "Shepherd DB"
        }
      },
      "alwaysOutputData": true
    },
    {
      "id": "a1b2c3d4-0191-0191-0191-000000000191",
      "name": "Code: Prepare Broadcast Confirm",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        200
      ],
      "parameters": {
        "jsCode": "const ctx = $('On Parent Call').first().json;\nconst driversResult = $input.first().json;\nconst drivers = Array.isArray(driversResult) ? driversResult : (driversResult.items || []);\nconst withChat = drivers.filter(d => d.telegram_chat_id);\nconst count = withChat.length;\nconst broadcastMsg = ctx.text;\nreturn [{ json: { ...ctx, broadcastMsg, driverCount: count, drivers: withChat } }];"
      }
    },
    {
      "id": "a1b2c3d4-0181-0181-0181-000000000181",
      "name": "HTTP: Send Broadcast Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('On Parent Call').first().json.chatId, text: 'הקלד/י את ההודעה לשליחה לכל הנהגים:', parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0200-0200-0200-000000000200",
      "name": "Code: Prepare Broadcast Send",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        400
      ],
      "parameters": {
        "jsCode": "const ctx = $('On Parent Call').first().json;\nconst state = ctx.sessionState || {};\nconst broadcastMsg = state.message || '';\nconst drivers = state.drivers || [];\nreturn drivers.filter(d => d.telegram_chat_id).map(d => ({ json: { chatId: ctx.chatId, recipientChatId: d.telegram_chat_id, broadcastMsg } }));"
      }
    },
    {
      "id": "b1c2d3e4-7018-7018-7018-000000007018",
      "name": "Switch: Step",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        120,
        0
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cmd_admin_broadcast",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "0",
              "renameOutput": true,
              "outputKeyName": "cmd_admin_broadcast"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "broadcast_message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "1",
              "renameOutput": true,
              "outputKeyName": "broadcast_message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "broadcast_confirm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "2",
              "renameOutput": true,
              "outputKeyName": "broadcast_confirm"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "broadcast_cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "3",
              "renameOutput": true,
              "outputKeyName": "broadcast_cancel"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b1c2d3e4-7019-7019-7019-000000007019",
      "name": "Note 7019",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -150
      ],
      "parameters": {
        "content": "## 📢 Broadcast (admin)\n\nType message → confirm count → fan-out one Telegram send per driver (`GET /users?role=driver`).\n\n**Routes:** `cmd_admin_broadcast`, `broadcast_message`, `broadcast_confirm`, `broadcast_cancel`",
        "height": 120,
        "width": 900,
        "color": 7
      }
    }
  ],
  "connections": {
    "Postgres: Clear Broadcast Cancel Session": {
      "main": [
        [
          {
            "node": "HTTP: Send Broadcast Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Set Broadcast Session": {
      "main": [
        [
          {
            "node": "HTTP: Send Broadcast Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: GET Drivers for Broadcast": {
      "main": [
        [
          {
            "node": "Code: Prepare Broadcast Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Save Broadcast State": {
      "main": [
        [
          {
            "node": "HTTP: Send Broadcast Confirm Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Send Broadcast Message to Each Driver": {
      "main": [
        [
          {
            "node": "Postgres: Clear Broadcast Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Clear Broadcast Session": {
      "main": [
        [
          {
            "node": "HTTP: Send Broadcast Sent Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Broadcast Confirm": {
      "main": [
        [
          {
            "node": "Postgres: Save Broadcast State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Broadcast Send": {
      "main": [
        [
          {
            "node": "HTTP: Send Broadcast Message to Each Driver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Parent Call": {
      "main": [
        [
          {
            "node": "Switch: Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Step": {
      "main": [
        [
          {
            "node": "Postgres: Set Broadcast Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: GET Drivers for Broadcast",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Prepare Broadcast Send",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres: Clear Broadcast Cancel Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}